<style>

	.tab-nav {
		height:55px;  
  		box-shadow:0 0 5px rgba(0, 0, 0, .5);  
		border-top:none;
		background-size: 0px;
	}

	/*.has-tabs{
		bottom:60px;
	}*/
	
	.tab-item i.icon {
		width:22px;
		height:22px;
		margin-top: 6px;
		margin-bottom:6px;
	}

	.tab-item .badge{
		right:20%;
	}

	.tab-item.middleIcon{
		width:auto;
		height:auto;
		margin-top:-40px;
		opacity:1;
	}

	.tab-item.middleIcon .icon{
		width:70px;
		height:70px;
		margin-top:12px;
	}

	.tab-item.fenleiIcon .icon{ 
		width:22px;
		height:21px;
	}

	.tab-item.goodsIcon .icon{ 
		width:18px;
		height:18px;
		margin-top:9px;
		margin-bottom:7px;
	}


	.tab-item-active .tab-title{

		color: #D9A8CD;
	}
	.shouye_off {
		background-image:url("resource/images/tabIcon/home.png");
		background-repeat:no-repeat;
		background-size: cover;
	}

	.shouye_on {
		background-image:url("resource/images/tabIcon/home_onclick.png");
		background-repeat:no-repeat;
		background-size: cover;
	}

	.shangpin_off {
		background-image:url("resource/images/tabIcon/allproduct.png");
		background-repeat:no-repeat;
		background-size: cover;
	}

	.shangpin_on {
		background-image:url("resource/images/tabIcon/allproduct_hover.png");
		background-repeat:no-repeat;
		background-size: cover;
	}

	.shangpin_off {
		background-image:url("resource/images/tabIcon/allproduct.png");
		background-repeat:no-repeat;
		background-size: cover;
	}

	.shangpin_on {
		background-image:url("resource/images/tabIcon/allproduct_hover.png");
		background-repeat:no-repeat;
		background-size: cover;
	}

	.fenlei_off {
		background-image:url("resource/images/tabIcon/fenlei.png");
		background-repeat:no-repeat;
		background-size: cover;
	}

	.fenlei_on {
		background-image:url("resource/images/tabIcon/fenlei_hover.png");
		background-repeat:no-repeat;
		background-size: cover;
	}

	.cart_off {
		background-image:url("resource/images/tabIcon/shopping.png");
		background-repeat:no-repeat;
		background-size: cover;
	}

	.cart_on {
		background-image:url("resource/images/tabIcon/shopping_hover.png");
		background-repeat:no-repeat;
		background-size: cover;
	}

	.my_off {
		background-image:url("resource/images/tabIcon/mycenter.png");
		background-repeat:no-repeat;
		background-size: cover;
	}

	.my_on {
		background-image:url("resource/images/tabIcon/mycenter_hover.png");
		background-repeat:no-repeat;
		background-size: cover;
	}
</style>

<ion-tabs class="tabs-icon-top bar-stable" ng-class="{'tabs-item-hide': $root.hideTabs}">

	<ion-tab title="全部商品" class="goodsIcon mytab" icon-off="shangpin_off" icon-on="shangpin_on" href="#/tab/goods" ng-click="tabSelect(0)" >
		<ion-nav-view name="tab-goods"></ion-nav-view>
	</ion-tab>

	<ion-tab title="分类" class="fenleiIcon mytab" icon-off="fenlei_off" icon-on="fenlei_on" href="#/tab/category" ng-click="tabSelect(1)" >
		<ion-nav-view name="tab-category"></ion-nav-view>
	</ion-tab>

	<ion-tab title="" class="middleIcon mytab" icon-off="shouye_off" icon-on="shouye_on"  href="#/tab/home" ng-click="tabSelect(2)" >
		<ion-nav-view name="tab-home"></ion-nav-view> 
	</ion-tab> 

	<ion-tab title="购物车"  class="myCartIcon mytab" badge="cartBadge" badge-style="badge-assertive" icon-off="cart_off" icon-on="cart_on" href="#/tab/cart" ng-click="tabSelect(3)">
		<ion-nav-view name="tab-cart"  ></ion-nav-view>
	</ion-tab>

	<ion-tab title="我的" class="myIcon mytab" icon-off="my_off" icon-on="my_on" href="#/tab/my" ng-click="tabSelect(4)" >
		<ion-nav-view name="tab-my"></ion-nav-view>
	</ion-tab>


</ion-tabs>

