<style>

	.tab-nav {
		height:55px;
	}

	/*.has-tabs{
		bottom:60px;
	}*/
	
	.tab-item i.icon {
		width:30px;
		height:30px;
		margin-top: 4px;
	}

	.tab-item .badge{
		right:20%;
	}

	.tab-item.middleIcon{
		width:50px;
		height:70px;
		background:#eee;
		border-radius:35px;
		border:1px solid #eee;
		margin-top: -25px;
		opacity:1;
	}

	.tab-item.middleIcon .icon{
		width:35px;
		height:35px;
		margin-top:12px;
	}


	.fujin_off {
		background-image:url("resource/images/tab_city_normal@2x.png");
		background-repeat:no-repeat;
		background-size: cover;
	}

	.fujin_on {
		background-image:url("resource/images/tab_city_highlight@2x.png");
		background-repeat:no-repeat;
		background-size: cover;
	}
</style>

<ion-tabs class="tabs-icon-top bar-stable" ng-class="{'tabs-item-hide': $root.hideTabs}">

	<ion-tab title="首页" icon-off="ion-pricetag" icon-on="ion-pricetag" href="#/tab/home" on-select="tabSelect(0)">
		<ion-nav-view name="tab-home"></ion-nav-view>
	</ion-tab>

	<ion-tab title="商品" icon-off="ion-pricetag" icon-on="ion-pricetag" href="#/tab/goods" on-select="tabSelect(1)">
		<ion-nav-view name="tab-goods"></ion-nav-view>
	</ion-tab>

	<ion-tab title="分类" icon-off="ion-pricetag" icon-on="ion-pricetag" href="#/tab/category" on-select="tabSelect(2)">
		<ion-nav-view name="tab-category"></ion-nav-view>
	</ion-tab>

	<!--<ion-tab title="分类" class="middleIcon" icon-off="fujin_off" icon-on="fujin_on"  href="#/tab/fujin" on-select="tabSelect(2)">
		<ion-nav-view name="tab-fujin"></ion-nav-view> 
	</ion-tab> -->

	<ion-tab title="购物车" badge="cartBadge" badge-style="badge-assertive" icon-off="ion-android-cart" icon-on="ion-android-cart" href="#/tab/cart" on-select="tabSelect(3)">
		<ion-nav-view name="tab-cart"></ion-nav-view>
	</ion-tab>

	<ion-tab title="我的" icon-off="ion-person-stalker" icon-on="ion-person-stalker" href="#/tab/my" on-select="tabSelect(4)">
		<ion-nav-view name="tab-my"></ion-nav-view>
	</ion-tab>


</ion-tabs>

