* {
  padding: 0;
  margin: 0;
}
.registerInformationBox {
  width: 100%;
  height: 400px;
}
.registerInformationBox .contentBox {
  width: 100%;
  height: 60px;
  position: relative;
}
.registerInformationBox .contentBox .nameIconBox {
  width: 10%;
  height: 30px;
  margin-left: 35px;
  text-align: center;
  line-height: 30px;
  position: absolute;
  top: 20px;
}
.registerInformationBox .contentBox .nameIconBox img {
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
}
.registerInformationBox .contentBox .nameBox {
  width: 77% ;
  height: 80px;
  position: absolute;
  right: 0px;
  top: 10px;
  text-align: center;
  line-height: 80px;
}
.registerInformationBox .contentBox .nameBox .inputbox {
  width: 85%;
  border-bottom: solid 1px #eee;
}
.postNoteBox {
  width: 100%;
  height: 80px;
  position: relative;
  text-align: center;
}
.postNoteBox .note {
  width: 45%;
  height: 35px;
  float: left;
  margin-left: 50px;
  border: 1px solid #eee;
  border-radius: 5px;
}
.postNoteBox .postNote {
  width: 120px;
  height: 35px;
  right: 40px;
  position: absolute;
  background: plum;
  line-height: 35px;
  color: white;
  border-radius: 5px;
}
.registerButton {
  width: 80%;
  height: 35px;
  margin-left: 10%;
  float: left;
  background: plum;
  text-align: center;
  line-height: 35px;
  color: white;
  border-radius: 5px;
}
