<ion-view view-title="商品" hide-nav-bar="{{isNavShow}}">
    <ion-content class="content">
        <navigation-bar title="分类"></navigation-bar>
        <ion-scroll screen-height="0" style="width:100%;">

            <ion-refresher
                    pulling-text="下拉刷新..."
                    on-refresh="doRefresh()">
            </ion-refresher>
            <!-- 头部的分类-->
            <div class="category_top_block">
                <ul class="category_top_list">
                    <li class="category_top_list_item" ng-repeat="categoryItem in categorys">
                        <div class="category_top_list_item_block"
                             ng-click="changCategoryList(categoryItem.category_id,categoryItem.category_name)">
                            <div>
                                <img class="category_top_list_item_image"
                                     src={{"http://image.38zs.net:848"+categoryItem.category_img}}>
                                <span> {{categoryItem.category_name}}</span>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <!--中间的文字-->
            <div class=" midd_text_contant">
                <div class="line">
                </div>
                <div class="midd_text">
                    <span>{{categoryName}}</span>
                </div>
                <div class="line">
                </div>
            </div>


            <!-- 商品列表-->

            <div class="product_list">

                <div class="product_item" ng-repeat="productInfo in productArray" name="{{productInfo.goods_id}}">
                    <div class="backgroudBox" ng-show="productInfo.goods_number>0">
                        <img src="./resource/images/icon/shouqin.png">
                    </div>
                    <img src={{"http://image.38zs.net:848"+productInfo.img_normal}}>
                    <div class="product_item_info">
                        <span class="product_price">￥{{productInfo.shop_price}}</span>
                        <div class="product_item_bottom">
                            <span class="product_name ellipsis">{{productInfo.goods_name}}</span>
                            <div class="cartTagBox">
                                <img src="./resource/images/icon/shoppingcar.png" class="cartTag2"
                                     id="{{productInfo.goods_id}}">
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </ion-scroll>
    </ion-content>
</ion-view>