<ion-view view-title="商品" hide-nav-bar="{{isNavShow}}">
    <navigation-bar title="分类"></navigation-bar>
    <ion-content class="content" style="width:100%;position:absolute;top: 60px;">
        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="doRefresh()">
        </ion-refresher>
        <!-- 头部的分类-->
        <div class="category_top_list">
            <div class="category_top_list_item" ng-repeat="categoryItem in categorys" view-on-finish-two
                 ng-click="changCategoryList(categoryItem.category_id,categoryItem.category_name,$index)"
                 id="item{{$index}}"
            >
                <div class="categoryImageBox">
                    <img src="./resource/images/default/default_image.png"
                         data-original='{{categoryItem.category_img}}'/>
                </div>
                <span class="categoryName colorNameA ellipsis"> {{categoryItem.category_name}}</span>

            </div>
        </div>

        <!--中间的文字-->
        <div class="midd_text_contant">
            <div class="line">
            </div>
            <div class="midd_text">
                <span>{{categoryName}}</span>
            </div>
        </div>


        <!-- 商品列表-->
        <div class="product_list">
            <div class="product_item" ng-repeat="productInfo in productArray" view-on-finish
                 name="{{productInfo.goods_id}}">
                <div class="backgroudBox" ng-show="productInfo.goods_number==0">
                    <img src="./resource/images/icon/shouqin.png">
                </div>
                <div class="goodsImg">
                    <img data-original='{{productInfo.img_normal}}'
                         src="./resource/images/default/default_image.png"/>
                </div>
                <div class="goodsInfo">
                    <div class="goodsMoney">¥ {{productInfo.shop_price}}</div>
                    <div class="goodsContent">
                        <div class="goodsDesc ellipsis">{{productInfo.goods_name}}</div>
                        <div class="goodsCart">
                            <img src="./resource/images/icon/shoppingcar.png" id="{{productInfo.goods_id}}"/>
                        </div>
                    </div>
                </div>
                <div style="clear:both;"></div>
            </div>
        </div>
    </ion-content>
</ion-view>