<ion-view view-title="商品" hide-tabs="true" hide-nav-bar="{{isNavShow}}">
    <navigation-bar is-back="true" title="商品"></navigation-bar>
    <ion-content style="width:100%;position:absolute;top:60px;">
        <div class="contentBox" set-window-height-no-navigation="0">
            <ion-scroll class="scrollBox" direction="y" style="width: 100%;height: 100%">
                <!--图片详情-->
                <div class="productImgBox">
                    <ion-slide-box show-pager="false" on-slide-changed="onSlideChanged($index)"
                                   active-slide="myActiveSlide">
                        <ion-slide ng-repeat=" productImg in goodsImgss " view-on-finish>
                            <div class="productImg">
                                <img src={{"http://image.38zs.net:848"+productImg.img_normal}}>
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                    <div class="instructions">
                        <div ng-repeat="imgv in goodsImgss">
                            <img ng-if="$index == 0" src="./resource/images/icon/point_hover.png">
                            <img ng-if="$index != 0" src="./resource/images/icon/point_gray.png">
                        </div>
                    </div>
                </div>

                <!-- 商品的详情区-->
                <div class="productInfoBox">
                    <span class="productName"> {{productName}} </span>
                    <div class="productProperty">
                        <span class="productPrice"><span style="font-size: 15px">￥</span>{{productPrice_I}}<span
                                class="productPrice_decimal_point">{{productPrice_F}}</span></span>
                        <span class="freight">快递：支付满{{freight}}免运费</span>
                    </div>
                    <div class="productOtherBox">
                        <div class="productOtherItem">
                            <span>商品品牌:<span class="content"> {{productBrand}}</span></span>
                        </div>
                        <div class="productOtherItem">
                            <span>商品编号:<span class="content"> {{productNum}}</span></span>
                        </div>
                        <div class="productOtherItem">
                            <div class="number">数量:</div>
                            <div class="numberBox">
                                <div class="accountBox" ng-click="add()">
                                    <img src="./resource/images/icon/shoppingcar_add.png"></div>
                                <input type="text" class="accountBox_number"
                                       id="_number"
                                       onkeyup="this.value=this.value.replace(/\D/g,'')"
                                       onafterpaste="this.value=this.value.replace(/\D/g,'')" ng-model="count"/>
                                <div class="accountBox" ng-click="reduce()"><img
                                        src="./resource/images/icon/shoppingcar_reduce.png"></div>
                            </div>
                        </div>
                        <div class="productOtherItem">
                            <span>本商品最大限制购买量:<span class="goodsNumber"> &nbsp;{{limitGoodsNumber}}</span></span>
                        </div>
                        <div class="productOtherItem">
                            <span>本商品单笔订单最低购买量:<span class="goodsNumber"> &nbsp;{{minGoodsNumber}}</span></span>
                        </div>
                    </div>
                </div>


                <div class="product_Details">
                    <div class="product_Details_Block">
                    </div>
            <span>
                商品详情
            </span>
                    <span class="en">
                        Detail
                    </span>
                </div>

                <div ng-repeat="goodsDetailImg in  goodsDetail" class="goodsDetailBox" view-on-finish>
                    <img class="productInfoImg"
                         data-original='{{goodsDetailImg.detail_img}}'
                         src="./resource/images/default/default_image.png"
                    />
                    alt={{goodsDetailImg.detail_text}}>
                </div>
            </ion-scroll>
            <!-- 加入购物车-->
            <div class="addCartBar">
                <div class="cartBox" ng-click="startPage()">
                    <img src="./resource/images/icon/shoppingcar.png" class="cartTag">
                    <div class="cartNumber"><span class="num">{{cartCount}}</span></div>
                </div>
                <div class="line"></div>
                <div class="addCartBarButton" ng-click="addCartAction()">加入购物车</div>
            </div>
        </div>
    </ion-content>

</ion-view>