<ion-view view-title="商品" hide-tabs="true" hide-nav-bar="{{isNavShow}}">

    <ion-content>



                <!--图片详情-->
                <div class="productImgBox">
                    <!-- 滑动块-->
                    <ion-slide-box>
                        <ion-slide>
                            <div class="productImg">
                                <img src="./resource/images/goods_1.png">
                            </div>
                        </ion-slide>
                        <ion-slide>
                            <div class="productImg">
                                <img src="./resource/images/goods_2.png">
                            </div>
                        </ion-slide>
                        <ion-slide on-slide-changed="slideHasChanged(index)">
                            <div class="productImg">
                                <img src="./resource/images/goods_4.png">
                            </div>
                        </ion-slide>
                    </ion-slide-box>
                </div>

                <!-- 商品的详情区-->
                <div class="productInfoBox">
                    <span class="productName"> 三八妇乐骨乐贴 </span>
                    <div class="productProperty">
                        <span class="productPrice">￥120<span class="productPrice_decimal_point">.00</span></span>
                        <span class="integral">积分:120</span>
                        <span class="freight">快递：支付满5000免运费</span>
                    </div>
                    <div class="productOtherBox">
                        <div class="productOtherItem">
                            <span>商品品牌:<span> 妍健·用品系列</span></span>
                        </div>
                        <div class="productOtherItem">
                            <span>商品编号:<span> ECS001004</span></span>
                        </div>
                        <div class="productOtherItem">
                            <div class="number">数量:</div>
                            <div class="accountBox"><img src="./resource/images/icon/shoppingcar_reduce.png"></div>
                            <div class="accountBox_number">1</div>
                            <div class="accountBox"><img src="./resource/images/icon/shoppingcar_add.png"></div>

                        </div>
                    </div>


                </div>

                <div class="product_Details">
                    <div class="product_Details_Block">
                    </div>
            <span>
                商品详情
            </span>
                </div>

                <div>
                    <img src="./resource/images/goods_2.png" style="width: 100%;height: 300px">
                    <img src="./resource/images/goods_2.png" style="width: 100%;height: 300px">
                    <img src="./resource/images/goods_2.png" style="width: 100%;height: 300px">
                    <img src="./resource/images/goods_2.png" style="width: 100%;height: 300px">
                    <img src="./resource/images/goods_2.png" style="width: 100%;height: 300px">
                    <img src="./resource/images/goods_2.png" style="width: 100%;height: 300px">
                </div>


        <!-- 加入购物车-->
        <div class="addCartBar">
            <div class="cartBox">
                <i class="icon ion-ios-cart-outline "></i>
                <div class="cartNumber"> <span class="num">11</span></div>
            </div>
            <div class="line"></div>
            <div class="addCartBarButton">加入购物车</div>

        </div>
    </ion-content>

</ion-view>