

.logsScroll{
  background: #ffffff;

  .logsItems{
    height: auto;
    margin: 10px;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 15px;

    //.deleteBox {
    //  position:absolute;
    //  right:-110px;
    //  top:0px;
    //  width:100px;
    //  height:110px;
    //  line-height:110px;
    //  text-align: center;
    //  font-size:20px;
    //  color:#fff;
    //  background:red;
    //}

    .userData{

      width: 100%;
      height: 80px;
      border-bottom: 1px solid #ddd;


      .operateTime{
        width:100%;
        height: 40px;
        text-align: left;
        line-height: 40px;
        float: left;

        .title{

          width: 80px;
          height: 40px;
          float: left;

        }
         span{
           width: auto;
           height: 40px;
           color: #999999;
         }

      }

      .userName{
        width:100%;
        height: 40px;
        text-align: left;
        line-height: 40px;
        float: left;

        .title{
          width: 80px;
          height: 40px;
          float: left;

        }
        span{
          width: auto;
          height: 40px;
          color: #999999;
        }


      }


    }


       .xlzjUsers{
         width:100%;
         height: auto;
         float: left;

           .accounts{
             width: 80px;
             height: auto;
             float: left;

               .title{
                 width: 80px;
                 height: 40px;
                 font-size: 15px;
                 float: left;
                 text-align: left;
                 line-height: 40px;


                }

           }

         .accountsDetail{
            height: 40px;
            margin-left: 80px;
            font-size: 14px;
            padding-right: 10px;

           .usersAcount{
              width: 60%;
              height: 40px;
              float: left;
              line-height: 40px;
              color: #999999;

           }

            .usersStatus{

              width: 30%;
              height: 26px;
              background: #ccc;
              float: right;
              margin-top: 5px;
              line-height: 26px;
              color: white;
              text-align: center;

            }


         }


        }

  }



}

