/*浮动 默认左浮动*/
.vt_Box {
  margin: 5px;
  background: white;
}
.tr_navBox {
  width: 100%;
  height: 55px;
  background: white;
  border: solid red #eee;
}
.tr_navBox .tr_nav {
  text-align: center;
  width: 33.3%;
  height: 55px;
  float: left;
  border-right: solid 1px #eee;
  border: solid r #eee;
  line-height: 55px;
}
.tr_navBox .tr_nav:last-child {
  border: none;
}
.tr_Box {
  margin: 5px;
}
.tr_itemBox {
  width: 100%;
  min-height: 250px;
  background: white;
  margin-bottom: 5px;
}
.tr_itemBox .transInPersonBox,
.tr_itemBox .tr_transOutPersonBox,
.tr_itemBox .transMoneyBox,
.tr_itemBox .transTimeBox {
  width: 100%;
  height: 50px;
}
.tr_itemBox .tr_transOutPersonBox,
.tr_itemBox .transMoneyBox {
  border-bottom: solid 1px #eee;
  border: solid b #eee;
}
.tr_itemBox .tr_NameBox {
  color: #262626;
  text-indent: 20px;
  line-height: 50px;
  font-size: 15px;
  max-width: 50%;
  min-width: 90px;
  overflow: hidden;
  float: left;
}
.tr_itemBox .tr_ValueBox {
  height: 50px;
  max-width: 80%;
  min-width: 65%;
  color: #262626;
  line-height: 50px;
  margin-left: 5px;
  float: left;
}
.tr_itemBox .tr_RemarkName {
  color: #262626;
  text-indent: 20px;
  font-size: 15px;
  max-width: 50%;
  min-width: 90px;
  overflow: hidden;
  float: left;
}
.tr_itemBox .tr_RemarkValue {
  color: red;
  float: left;
}
