/*用户信息*/
.userBox {
  width: 100%;
  height: 200px;
  background: papayawhip;
  text-align: center;
  /*用户图像*/
  .usrIcon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
  }
  /*用户账号*/
  .userAccount{
    margin-top: 10px

  }
  /*等级图标*/
  .levelIcon{
    width: 30px;
    height: 30px;
    vertical-align: middle;
  }
  /*等级名*/
  .levelName{
    text-align: center;
    margin-left: 10px;
  }
}
/*货币和积分*/
.moneyAndScoreBox{
  margin-top: 10px;
  border-bottom: solid 1px gray;
  border-top: solid 1px #c0c0c0;
  height: 70px;
  text-align: center;
  position: relative;
  /*金额容器*/
  .moneyBox{
    height: 70px;
    width: 50%;
    text-align: center;
    float: left;
    background: #ffc900;
    .moneyName{
      width: 100%;
      height: 35px;
      background:#ccc;
      padding-top: 10px;

    }
    .moneyCount{
      padding-top: 5px;
      width: 100%;
      height: 35px;
    }
  }
  /*积分的容器*/
  .scoreBox{
    width: 50%;
    height: 70px;
    text-align: center;
    float: left;
    background: #ff8ab7;
  }
}
