<ion-view view-title="购买喜乐之家" hide-tabs="true" hide-nav-bar="{{isNavShow}}">
    <navigation-bar title="购买喜乐之家"></navigation-bar>
    <ion-content>
        <navigation-bar is-back="true" title="购买喜乐之家"></navigation-bar>
        <ion-scroll set-window-height-no-navigation style="width:100%;">
            <div class="addressBox">
                <div class="noAddressContent" ng-if="address == 'NO'" style="color: #BCBCBC"><span>+ 请添加收货地址</span>
                </div>
                <div class="addressContent" ng-if="address != 'NO'" style="color: black">
                    <div class="locationImg">
                        <img src="resource/images/icon/address_icon.png"/>
                    </div>
                    <div class="addressDetail">
                        <div class="personalInfo">
                            <div class="personName"><span>收货人:{{address.consignee}}</span></div>
                            <div class="personPhone">
                                <span>{{address.mobile?address.mobile:address.tel}}&nbsp;&nbsp;</span></div>
                        </div>
                        <div class="addressInfo"><span>收货地址 : {{address.province_name+"省"+ address.city_name + address.district_name + address.address}} </span>
                        </div>
                    </div>
                    <div class="nextBtn">
                        <img class="nextBtnImg" src="resource/images/icon/jiantou_right.png">
                    </div>
                </div>
                <div class="colorLine">
                    <img src="resource/images/icon/address.png">
                </div>
            </div>
            <div class="bhh_titleBox">喜乐之家商品列表</div>
            <div class="bhh_alert">您此笔订单金额实际支付金额为60000.00元,本次合计金额至少应为80000元</div>

            <div class="bhh_searchBox">
                <input class="bhh_search" type="text" placeholder="请输入要搜索的商品名称">
            </div>
            <div>
                <div class="bhh_goodItemBox">
                    <div class="bhh_goodImgBox">
                        <img class="bhh_goodImg" alt="商品图"
                             src="./resource/images/icon/daijinjuanzhuanzhangjilu.png">
                    </div>

                    <div class="bhh_goodInfo">
                        <div class="bbh_goodName">商品名称</div>
                        <div class="bbh_goodPrice">单价&nbsp;:&nbsp;430.00</div>
                        <div class="bbh_goodMoney">实际金额&nbsp;:&nbsp;430.00</div>
                    </div>
                    <div class="bhh_buyNumberBox">
                        <input class="bhh_buyNumber" type="number" placeholder="购买数量">
                    </div>
                </div>
                <div class="bhh_goodItemBox1">
                    <div class="bhh_goodImgBox1">
                        <img class="bhh_goodImg1" alt="商品图"
                             src="./resource/images/icon/daijinjuanzhuanzhangjilu.png">
                    </div>

                    <div class="bhh_goodInfo1">
                        商品名称
                    </div>
                    <div class="bhh_goodMore">
                        查看更多属性
                    </div>
                </div>
            </div>

        </ion-scroll>
    </ion-content>
</ion-view>