<ion-view view-title="喜乐之家" hide-tabs="true" hide-nav-bar="{{isNavShow}}">

    <ion-content>
        <navigation-bar is-back="true" title="喜乐之家" righttitle="去购物"></navigation-bar>
        <ion-scroll set-window-height-no-navigation style="width:100%;">
            <ion-scroll zooming="false" direction="x" scrollbar-x="true" style="width: 100%">
                <div class="of_navBox">
                    <div class="of_nav">商城订单</div>
                    <div class="of_nav">提货订单</div>
                    <div class="of_nav">重复消费订单</div>
                    <div class="of_nav">申请专柜</div>
                    <div class="of_nav">申请专卖店</div>
                    <div class="of_nav">申请旗舰店</div>
                    <div class="of_nav">辅销品订单</div>
                    <div class="of_nav">辅销品换购订单</div>
                    <div class="of_nav">喜乐之家订单</div>
                    <div class="of_nav">旗舰店报单</div>
                    <div class="of_nav">超期空升特批</div>
                </div>
            </ion-scroll>

    </ion-content>
</ion-view>