<ion-view view-title="喜乐之家购买记录" hide-tabs="true" hide-nav-bar="{{isNavShow}}">
    <navigation-bar is-back="true" title="购买记录" righttitle="{{righttitleValue}}" on-right-click="editLogs()"></navigation-bar>
    <ion-content scroll="false">
          <ion-scroll class="logsScroll"  set-window-height-no-navigation style="width:100%;">

              <div class="noRecord">
                  <img src="./resource/images/icon/shopping_bg.png">
                  <p>暂无购买记录...</p>
              </div>
              <!--<div class="logsItems" on-swipe-left="swipLeft($index,item.id)" on-swipe-right="swipRight($index,item.id)" ng-repeat="item in logsData">-->
             <div class="logsItems" ng-repeat="item in logsData">
                 <div class="deleteLogBox" id="{{item.id}}">删除</div>
                 <div class="historyBox">
                 <div class="userData">
                     <div class="operateTime"><div class="title">操作时间:</div><span>{{item.addtime == 0?"---":item.addtime*1000 | date:'yyyy-MM-dd HH:mm'}}</span></div>
                     <div class="userName"><div class="title">购买人:</div><span>{{item.user_name}}</span></div>
                 </div>
                 <div class="xlzjUsers">
                     <div class="accounts">
                         <span class="title">账号:</span>
                     </div>
                     <div class="accountsDetail"  ng-repeat="userItem in item.xlzj_user">
                         <div class="usersAcount">{{userItem}}</div>
                         <div class="usersStatus" ng-if="item.status == 0" style="background-color: #ccc">未激活</div>
                         <div class="usersStatus" ng-if="item.status == 1" style="background-color: #d79ac4">已激活</div>
                     </div>

                 </div>

                 <div style="clear:both"></div>
               </div>
             </div>

        </ion-scroll>
    </ion-content>
</ion-view>