<ion-view view-title="喜乐之家" hide-tabs="true" hide-nav-bar="{{isNavShow}}">

    <ion-content>
        <navigation-bar is-back="true" title="喜乐之家" righttitle="去购物"></navigation-bar>
        <ion-scroll set-window-height-no-navigation style="width:100%;">
            <ion-scroll zooming="false" direction="x" scrollbar-x="true" style="width: 100%">
                <div class="of_navBox">
                    <div class="of_nav">ShareLock</div>
                    <div class="line"></div>
                    <div class="of_nav">ShareLock001</div>
                    <div class="line"></div>
                    <div class="of_nav">ShareLock002</div>
                    <div class="line"></div>
                    <div class="of_nav">ShareLock003</div>
                    <div class="line"></div>
                </div>
            </ion-scroll>


            <!--<div style="width: 100%;height:500px;background-color: red"></div>-->
    </ion-content>
</ion-view>