<ion-view view-title="喜乐之家购买记录" hide-tabs="true" hide-nav-bar="{{isNavShow}}">
    <navigation-bar title="购买记录"></navigation-bar>
    <ion-content>
        <navigation-bar is-back="true" title="购买记录" righttitle="{{righttitleValue}}" on-right-click="editLogs()"></navigation-bar>
        <ion-scroll class="logsScroll" set-window-height-no-navigation style="width:100%;">

            <div class="purchaseHistory" ng-repeat="historyItem in happyHomeData">{{historyItem.key_name}}</div>
        </ion-scroll>
    </ion-content>
</ion-view>