<ion-view view-title="内部转账" hide-tabs="true" hide-nav-bar="{{isNavShow}}">

    <ion-content>
        <navigation-bar title="内部转账"></navigation-bar>
        <div class="contentBox">
            <div class="cardItem">
                <span class="left">用 户 名 ：</span>
                <span class="right"> {{userName}}</span>
                <div class="line">
                </div>
            </div>

            <div class="cardItem">
                <span class="left">账户余额：</span>
                <span class="right"> {{user_money}}</span>
                <div class="line">
                </div>
            </div>
            <div class="cardItem">
                <span class="left">转账对象：</span>
                <input type="text" class="text"  ng-model="transformMoney.targetName">
                <div class="line">
                </div>
            </div>
            <div class="cardItem">
                <span class="left">转账金额：</span>
                <input type="number" class="text"  ng-model="transformMoney.money">
                <div class="line">
                </div>
            </div>

            <div class="cardItem">
                <span class="left">三级密码：</span>
                <input type="password" class="text" ng-model="transformMoney.passWord">
                <div class="line">
                </div>
            </div>

            <div class="cardItem">
                <span class="left">转账备注：</span>
                <input type="text" class="text"  ng-model="transformMoney.reMark">
                <div class="line">
                </div>
            </div>
            <div class="buttonBox">
                <div ng-click="transformMoney()">
                    提交
                </div>
            </div>

        </div>
    </ion-content>
</ion-view>