<ion-view view-title="我的订单" hide-tabs="true" hide-nav-bar="{{isNavShow}}">

    <navigation-bar is-back="true" title="我的订单"></navigation-bar>
    <ion-content style="top: 60px;background:#eee;" scroll="false">
        <ion-scroll zooming="false" direction="x" scrollbar-x="true" style="width: 100%;">
            <div class="of_navBox">
                <div class="of_nav">商城订单</div>
                <div class="of_nav">提货订单</div>
                <div class="of_nav">重复消费订单</div>
                <div class="of_nav">申请专柜</div>
                <div class="of_nav">申请专卖店</div>
                <div class="of_nav">申请旗舰店</div>
                <div class="of_nav">辅销品订单</div>
                <div class="of_nav">辅销品换购订单</div>
                <div class="of_nav">喜乐之家订单</div>
                <div class="of_nav">旗舰店报单</div>
                <div class="of_nav">超期空升特批</div>
            </div>
        </ion-scroll>

        <ion-scroll class="mo_contentBox" delegate-handle="small">
            <div ng-show="isEmptyData" style="width: 100%;height: 200px;text-align: center;line-height: 200px"
                 class="of_emptyList">
                暂无数据
            </div>
            <div class="of_itemBox" style="margin-bottom:6px;" ng-repeat="item in data">
                <div class="of_moneyBox">
                    <div class="of_leftBox">
                        <label class="of_moneyName">总金额&nbsp;:&yen;</label>
                        <label class="of_moneyVal">{{item.goods_amount}}</label>
                    </div>
                    <div class="of_rightBox">
                        <label class="of_moneyTime">&nbsp;{{item.pay_time == 0?"---":item.pay_time*1000 | date:'yyyy-MM-dd HH:mm'}}</label>
                    </div>


                </div>
                <div class="of_detailBox">
                    <div class="of_termBox">
                        <div class="of_termNameBox">
                            订单编号&nbsp;:
                        </div>
                        <div class="of_termValBox">
                            {{item.order_sn}}
                        </div>
                    </div>
                    <div class="of_termBox">
                        <div class="of_termNameBox">
                            类型&nbsp;:
                        </div>
                        <div class="of_termValBox">
                            {{item.order_type|orderTypeFilter}}
                        </div>
                    </div>
                    <div class="of_termBox">
                        <div class="of_termNameBox">
                            订单状态&nbsp;:
                        </div>
                        <div class="of_termValBox">
                            {{item.pay_status|orderPayStatusFilter}}&nbsp;&nbsp;{{item.order_status|orderStatusFilter}}
                        </div>
                    </div>
                    <div class="of_termBox">
                        <div class="of_termNameBox">
                            实际金额&nbsp;:
                        </div>
                        <div class="of_termValBox">
                            &yen;{{item.surplus * 1 + item.shipping_fee * 1}}元
                        </div>
                    </div>
                    <!--<div class="of_termBox">-->
                        <!--<div class="of_termNameBox">-->
                            <!--积分&nbsp;:-->
                        <!--</div>-->
                        <!--<div class="of_termValBox">-->
                            <!--1447.00-->
                        <!--</div>-->
                    <!--</div>-->
                </div>
            </div>
            <ion-infinite-scroll ng-if="isCanPull" on-infinite="loadMore()" distance="1%"
                                 immediate-check="false"></ion-infinite-scroll>
        </ion-scroll>
    </ion-content>
</ion-view>