<ion-view view-title="订单详情" hide-tabs="true" hide-nav-bar="{{isNavShow}}">
    <navigation-bar is-back="true" title="订单详情"></navigation-bar>
    <ion-content style="top: 60px;">

        <div class="ofd_state">
            <div class="ofd_s_goodsBox">
                <div class="ofd_s_goods">
                    <img id="ofd_s_goods_img" src="./resource/images/icon/orderform_unsend.png">
                    <span id="ofd_s_goods_name">{{orderInfo.order_status|orderStatusFilter}}</span>
                </div>
            </div>
            <div class="ofd_s_moneyBox">
                <div class="ofd_s_money">
                    <img id="ofd_s_pay_img" src="./resource/images/icon/orderform_pay_state.png">
                    <span id="ofd_s_pay_name">{{orderInfo.pay_status|orderPayStatusFilter}}</span>
                </div>
            </div>

        </div>

        <div class="ofd_address">
            <div class="ofd_ad_l">
                <img class="ofdAdL_img" src="./resource/images/icon/address_black.png">
            </div>
            <div class="ofd_ad_r">
                <div class="ofd_personBox">
                    <div class="ofdAdL_PName">{{orderInfo.consignee}}</div>
                    <div class="ofdAdL_PPhone">{{orderInfo.mobile}}</div>
                </div>

                <div class="ofd_addressBox">
                    <span class="ofd_address_t">详细地址：</span>
                    <span class="ofd_address_d">{{orderInfo.address}}</span>
                </div>

                <div class="ofd_pastCodeBox">
                    <span class="ofd_pastCode_t">邮政编码：</span>
                    <span class="ofd_pastCode_d">{{orderInfo.zipcode}}</span>
                </div>
                <div class="ofd_mailBox">
                    <span class="ofd_mail_t">电子邮件地址：</span>
                    <span class="ofd_mail_d">{{orderInfo.email}}</span>
                </div>
                <div class="ofd_callBox">
                    <span class="ofd_call_t">电话：</span>
                    <span class="ofd_call_d">{{orderInfo.tel}}</span>
                </div>
                <div class="ofd_phoneBox">
                    <span class="ofd_phone_t">手机：</span>
                    <span class="ofd_phone_d">{{orderInfo.mobile}}</span>
                </div>
                <div class="ofd_flagRoomBox">
                    <span class="ofd_flagRoom_t">标志建筑：</span>
                    <span class="ofd_flagRoom_d">{{orderInfo.sign_building}}</span>
                </div>
                <div class="ofd_sendTimeBox">
                    <span class="ofd_sendTime_t">最佳送货时间：</span>
                    <span class="ofd_sendTime_d">{{orderInfo.best_time}}</span>
                </div>

            </div>


        </div>


        <div class="ofd_goodItem"  ng-repeat="item in data" >
            <div class="ofd_gName">{{item.goods_name}}</div>
            <div class="ofd_gattr" ng-hide="isNumberEmpty(item.goods_attr)">
                属性：{{item.goods_attr}}
            </div>
            <div class="ofd_gPrice">
                商品价格：&yen;{{item.goods_price}}
            </div>
            <div class="ofd_gButNumber">购买数量：{{item.goods_number}}</div>
            <div class="ofd_gSendNumber">已发数量：{{item.send_number}}</div>
            <div class="ofd_gUnSendNumber">未发数量：{{item.goods_number - item.send_number}}</div>
            <div class="ofd_totalMoney">&yen;{{item.goods_number * item.goods_price}}</div>
        </div>

        <div class="ofd_order">
            <div class="ofd_o_code">
                订单编号：{{orderInfo.order_sn}}
            </div>
            <div class="ofd_o_time">
                下单时间：{{orderInfo.pay_time|dateTimeFilter}}
            </div>
            <div class="ofd_o_payWay">
                支付方式：{{orderInfo.pay_name}}
            </div>
            <div class="ofd_o_sendWay">
                配送方式：{{orderInfo.shipping_name}}
            </div>

        </div>

        <div class="ofd_calculate">
            <div class="ofd_gTotalNumber">
                商品总数量
                <span class="ofd_gTN">{{goodsAllNumber}}</span>
            </div>
            <div class="ofd_gTotalMoney">
                商品总额
                <span class="ofd_gTMR">&yen;{{orderInfo.goods_amount}}</span>
            </div>
            <div class="ofd_gSendMoney">
                +运费
                <span class="ofd_gSM">&yen;1520??</span>
            </div>
        </div>

        <div class="pay_money">
            实付款：<span style="color:red">&yen;<span>{{orderInfo.surplus}}</span></span>
        </div>


    </ion-content>
</ion-view>