<ion-view view-title="汇款记录" hide-tabs="true" hide-nav-bar="{{isNavShow}}">

    <ion-content>

        <navigation-bar title="汇款记录"></navigation-bar>
        <div class="contentBox">

            <div class="listBox">

                <div class="ItemBox">
                    <div class="ItemBoxItem">
                        <div class="itemLeft">用户名：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇入银行：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇款账户：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇款人：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">银行地址：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇款金额：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇款时间：</div>
                        <div class="itemRight">张三</div>
                    </div>

                    <div class="line"></div>
                    <div class="itemState">
                        <span class="state">待审批</span>
                        <span class="stateText">状态：</span>
                    </div>

                </div>

                <div class="ItemBox">
                    <div class="ItemBoxItem">
                        <div class="itemLeft">用户名：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇入银行：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇款账户：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇款人：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">银行地址：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇款金额：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇款时间：</div>
                        <div class="itemRight">张三</div>
                    </div>

                    <div class="line"></div>
                    <div class="itemState">
                        <span class="state">待审批</span>
                        <span class="stateText">状态：</span>
                    </div>

                </div>
                <div class="ItemBox">
                    <div class="ItemBoxItem">
                        <div class="itemLeft">用户名：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇入银行：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇款账户：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇款人：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">银行地址：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇款金额：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇款时间：</div>
                        <div class="itemRight">张三</div>
                    </div>

                    <div class="line"></div>
                    <div class="itemState">
                        <span class="state">待审批</span>
                        <span class="stateText">状态：</span>
                    </div>

                </div>
                <div class="ItemBox">
                    <div class="ItemBoxItem">
                        <div class="itemLeft">用户名：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇入银行：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇款账户：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇款人：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">银行地址：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇款金额：</div>
                        <div class="itemRight">张三</div>
                    </div>
                    <div class="ItemBoxItem">
                        <div class="itemLeft">汇款时间：</div>
                        <div class="itemRight">张三</div>
                    </div>

                    <div class="line"></div>
                    <div class="itemState">
                        <span class="state">待审批</span>
                        <span class="stateText">状态：</span>
                    </div>

                </div>

            </div>


        </div>

    </ion-content>
</ion-view>