<ion-view view-title="充值列表" hide-tabs="true" hide-nav-bar="{{isNavShow}}">

    <ion-content>
        <navigation-bar title="充值列表"></navigation-bar>
        <div>

            <div>
                电子币卡
            </div>

            <div>
                换购代金券
            </div>

        </div>
        <div>卡号:</div>
        <div>cs00000001</div>
        <div>金额:</div>
        <div>10.00</div>
        <div>发卡方式:</div>
        <div>电子币卡</div>
        <div>关联活动:</div>
        <div>cs00000001</div>
        <div>使用时间:</div>
        <div>2017-03-18 10:09:36</div>
        <div>状态:</div>
        <div>已充值</div>
        <div>备注:</div>
        <div>cs00000001</div>

        <div>

        </div>

    </ion-content>
</ion-view>