<ion-view view-title="我的订单" hide-tabs="true" hide-nav-bar="{{isNavShow}}">

    <navigation-bar is-back="true" title="服务关系"></navigation-bar>

    <div class="searchBox">
        <input class="searchInput" type="search" placeholder="输入用户名查询"/>
        <button class="searchBtn" type="button">查询</button>
    </div>


    <ion-content class="contentOutBox"  style="background-color: green ;margin-top: 100px;background:#eee;">

        <!--<ion-scroll style="width:100%;position:absolute;top:60px;">-->

        <!--<div ng-show="isEmptyServiceRelation" style="width: 100%;height: 200px;text-align: center;line-height: 200px"-->
             <!--class="noServiceRelation">-->
            <!--暂无数据-->
        <!--</div>-->


        <div class="serviceRelationBox" style="margin-bottom:6px;" ng-repeat="serviceTerm in relationData">
            <div class="userInfoBox">
                <div class="accountName">
                    <label class="namePrompt">用户名&nbsp;: </label>
                    <label class="mainName">{{serviceTerm.user_name}}</label>
                </div>
            </div>
            <div class="serviceRelationshipDetailBox">

                <div class="serviceItem">
                    <div class="promptTitle">
                        激活时间&nbsp;:
                    </div>
                    <div class="promptContent">
                        {{serviceTerm.ACTIVATION_TIME}}
                    </div>
                </div>
                <div class="serviceItem">
                    <div class="promptTitle">
                        级别&nbsp;:
                    </div>
                    <div class="promptContent">
                        {{serviceTerm.REGISTER_GRADE | registerGradeFilter}}

                    </div>
                </div>
                <div class="serviceItem">
                    <div class="promptTitle">
                        资格&nbsp;:
                    </div>
                    <div class="promptContent">
                        {{serviceTerm.IS_VIP == 0?"":"VIP "}}{{serviceTerm.IS_PI_FA== 0?"":"批发 "}}{{serviceTerm.ZHUAN_MAI_DIAN_GRADE | exclusiveAgencyFilter}}

                    </div>
                </div>
                <div class="serviceItem">
                    <div class="promptTitle">
                        批发等级&nbsp;:
                    </div>
                    <div class="promptContent">
                        {{serviceTerm.MEMBER_GRADE | memberGradeFilter}}

                    </div>
                </div>
                <div class="serviceItem">
                    <div class="promptTitle">
                        管理等级&nbsp;:
                    </div>
                    <div class="promptContent">
                        {{serviceTerm.MEMBER_MANAGE_GRADE | memberManageGradeFilter}}
                    </div>
                </div>
                <div class="serviceItem">
                    <div class="promptTitle">
                        上级管理人&nbsp;:
                    </div>
                    <div class="promptContent">
                        {{serviceTerm.RECOMMENDED_MAN}}
                    </div>
                </div>
                <div class="serviceItem">
                    <div class="promptTitle">
                        层&nbsp;:
                    </div>
                    <div class="promptContent">
                        {{serviceTerm.RECOMMENDED_LAYER_NUM}}
                    </div>
                </div>
            </div>
        </div>
        <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
        <ion-infinite-scroll ng-if="isCanPull" on-infinite="loadMore()" distance="1%"
                             immediate-check="false"></ion-infinite-scroll>
        <!--</ion-scroll>-->
    </ion-content>
</ion-view>