<ion-view view-title="辅销币银行汇款" hide-tabs="true" hide-nav-bar="{{isNavShow}}">
    <div class="sel_BankBox">
        <div class="sel_BankMain">
            <div class="sel_TitleBox">
                <span class="sel_icon glyphicons glyphicons-fees-payments"></span>
                <span class="sel_Title">选择汇入银行</span>
            </div>
            <div class="sel_BankContBox">
                <ion-radio ng-repeat="bankItem in bankLists"
                           ng-value="bankItem"
                           ng-model="data.sel_bank"
                           style="border:none ;margin: 0px;height: 60px;border-bottom: solid 1px #eee">
                    <div class="sel_BankIconBox">
                        <label class="sel_etr_BankName">银行&nbsp;:&nbsp; {{bankItem.BANK_NAME}}</label>
                        <label class="sel_BankName"
                               style="margin-left: 10px">姓名&nbsp;:&nbsp;{{bankItem.ACCOUNT_OWNER}}</label>
                    </div>
                    <div class="sel_BankAccountBox ellipsis">
                        <label class="sel_BankAccount">账号&nbsp;:&nbsp;{{bankItem.BANK_ACCOUNT}}</label>
                    </div>

                </ion-radio>
            </div>
            <div class="sel_loading">
                <img class="sel_loadImg" src="./plugin/addressSelect/images/loading.gif">
                <div class="sel_loadTxt">加载失败...</div>
            </div>


            <button class="sel_CancelSelect">取消
            </button>
            <button class="sel_confirmSelect">确定
            </button>



        </div>
    </div>
    <ion-content>
        <navigation-bar is-back="true" title="辅销币银行汇款"></navigation-bar>
        <div class="etr_box">
            <form id="form1">
                <div class="ert_AccountBox">
                    <div class="ert_AccountName">用户名&nbsp;:</div>
                    <div class="ert_AccountVal">{{userName}}</div>
                </div>

                <div class="ert_AccountBox">
                    <div class="ert_AccountName">汇入银行&nbsp;:</div>
                    <div class="ert_AccountVal" id="ert_showBank">
                        <textarea class="ert_selectBank" id="ert_selectBank" readOnly="true"
                                  placeholder="选择汇入银行"></textarea>
                    </div>
                </div>

                <div class="ert_AccountBox">
                    <div class="ert_AccountName">汇款银行&nbsp;:</div>
                    <div class="ert_AccountVal">
                        <input type="text" class="ert_input" id="ert_TFBank" placeholder="填写汇款银行">
                    </div>
                </div>
                <div class="ert_AccountBox" style="border: none">
                    <div class="ert_AccountName">银行地址&nbsp;:</div>
                    <div class="ert_AccountVal">
                        <input type="text" class="ert_input" id="ert_address" readOnly="true" placeholder="选择银行地址"
                               style="background: white">
                    </div>
                </div>
                <div class="ert_AccountBox">
                    <div class="ert_AccountName">银行详细地址&nbsp;:</div>
                    <div class="ert_AccountVal">
                        <input type="text" placeholder="填写银行详细地址" class="ert_input" id="ert_addressDetail">
                    </div>
                </div>
                <div class="ert_AccountBox">
                    <div class="ert_AccountName">银行账号&nbsp;:</div>
                    <div class="ert_AccountVal">
                        <input type="text" class="ert_input" id="ert_BankAccount" placeholder="填写银行账号">
                    </div>
                </div>
                <div class="ert_AccountBox">
                    <div class="ert_AccountName">汇款人姓名&nbsp;:</div>
                    <div class="ert_AccountVal">
                        <input type="text" class="ert_input" id="ert_userName" placeholder="填写汇款人姓名">
                    </div>
                </div>
                <div class="ert_AccountBox">
                    <div class="ert_AccountName">汇款金额&nbsp;:</div>
                    <div class="ert_AccountVal">
                        <input type="text" class="ert_input" id="ert_money" placeholder="填写汇款金额">
                    </div>
                </div>
                <div class="ert_AccountBox">
                    <div class="ert_AccountName">汇款日期&nbsp;:</div>
                    <div class="ert_AccountVal">
                        <input type="text" class="ert_input" placeholder="选择汇款日期" id="ert_time" readOnly="true"
                               style="background: white">
                    </div>
                </div>
                <div class="ert_AccountBox">
                    <div class="ert_AccountName">汇款备注&nbsp;:</div>
                    <div class="ert_AccountVal">
                        <input type="text" class="ert_input" id="ert_remark" placeholder="填写汇款备注">
                    </div>
                </div>
                <div class="ert_TRVoucherBox">
                    <div class="ert_TRVoucherName">上传汇款凭证&nbsp;:</div>
                    <div class="ert_TRVoucherVal">
                        <div class="ert_TRVoucherValTop">
                            <button class="ert_upIcon">点击上传凭证</button>
                            <span class="ert_upFile  ellipsis">未选择文件</span>
                        </div>
                        <div class="ert_TRVoucherValBottom">
                            &quot;请上传4M一下的图片,仅支持gif,jpg,jpeg,bmp,png,swf格式&quot;
                        </div>
                    </div>
                </div>
                <button class="ert_confirm">提交</button>
            </form>

        </div>
    </ion-content>
</ion-view>