<!--用户激活或者升级是填写资料页面-->
<ion-view view-title="用户资料" hide-tabs="true" hide-nav-bar="{{isNavShow}}">
    <div class="popRegionBox" ng-click="closepop()" id="RegionBox">
        <div class="selectBox" style="height: 100px;margin-top: -50px">
            <ion-radio id="abc1">左区</ion-radio>
            <ion-radio id="abc2">右区</ion-radio>
        </div>
    </div>

    <div class="popRegionBox" id="BankBox">
        <div class="selectBox" style="height: 150px;margin-top: -75px">
            <ion-radio class="a" id="a">中国工商银行</ion-radio>
            <ion-radio class="a" id="b">中国农业银行</ion-radio>
            <ion-radio class="a" id="c">中国建设银行</ion-radio>
        </div>
    </div>
    <navigation-bar is-back="true" title="用户资料"></navigation-bar>
    <ion-content style="background-color: white">
        <ion-scroll style="width:100%;position:absolute;top:60px;">
            <div class="contentBox">
                <!--推荐人-->
                <div class="rowBox" style="margin-top: 5px">
                    <div class="leftBox">
                        <span class="redStar">*</span>推荐人
                    </div>
                    <label for="recommend">
                        <div class="rightBox">
                            <input id="recommend" type="text" placeholder="请输入推荐人" ng-model="upGrade.recommendP">
                            <div class="waring" id="recommendWaring"><i class="icon ion-android-warning"></i>
                            </div>
                        </div>
                    </label>
                    <div class="line"></div>
                </div>

                <div class="rowBox" style="margin-top: 5px">
                    <div class="leftBox">
                        <span class="redStar">*</span>团队
                    </div>
                    <div class="rightBox">
                        <span id="team">{{upGrade.team}}</span>
                        <div class="waring" id="teamWaring"><i class="icon ion-android-warning"></i>
                        </div>
                    </div>
                    <div class="line"></div>
                </div>

                <div class="rowBox">
                    <div class="leftBox">
                        <span class="redStar">*</span>节点人
                    </div>
                    <label for="node">
                        <div class="rightBox">
                            <input id="node" type="text" placeholder="请输入节点人" ng-model="upGrade.nodeP">
                            <div class="waring" id="nodeWaring"><i class="icon ion-android-warning"></i>
                            </div>
                        </div>
                    </label>
                    <div class="line"></div>
                </div>
                <div class="rowBox">
                    <div class="leftBox">
                        <span class="redStar">*</span>所在区域
                    </div>
                    <label for="selectResult">
                        <div class="rightBox" id="selectResultBox" ng-click="selectRegion()">
                            <input type="text" disabled placeholder="---请选择---" id="selectResult"
                                   style="background-color: white"/>
                        </div>
                    </label>
                    <div class="line"></div>
                </div>
                <div class="rowBox">
                    <div class="leftBox">
                        <span class="redStar">*</span>昵称
                    </div>
                    <label for="name">
                        <div class="rightBox">
                            <input id="name" type="text" placeholder="可以为数字、字母、下划线组合" ng-model="upGrade.nickName">
                            <div class="waring" id="nameWaring"><i class="icon ion-android-warning"></i>
                            </div>
                        </div>
                    </label>
                    <div class="line"></div>
                </div>
                <div class="rowBox">
                    <div class="leftBox">
                        <span class="redStar">*</span>银行账号
                    </div>
                    <label for="bankCardN">
                        <div class="rightBox">
                            <input type="number" placeholder="请输入银行账号" id="bankCardN" ng-model="upGrade.bankCardN">
                            <div class="waring" id="bankCardNWaring"><i class="icon ion-android-warning"></i>
                            </div>
                        </div>
                    </label>
                    <div class="line"></div>
                </div>
                <div class="rowBox">
                    <div class="leftBox">
                        <span class="redStar">*</span>开户银行
                    </div>
                    <label for="bank">
                        <div class="rightBox" id="selectBank">
                            <input id="bank" type="text" readonly placeholder="必须为中文" ng-model="upGrade.bank"
                                   style="background-color: white">
                            <div class="waring" id="bankWaring"><i class="icon ion-android-warning"></i>
                            </div>
                        </div>
                    </label>
                    <div class="line"></div>
                </div>
                <div class="rowBox">
                    <div class="leftBox">
                        <span class="redStar">*</span>身份证号
                    </div>
                    <label for="identityCardN">
                        <div class="rightBox">
                            <input type="text" placeholder="请输入身份证号" ng-model="upGrade.identityCardN"
                                   id="identityCardN">
                            <div class="waring" id="identityCardNWaring"><i class="icon ion-android-warning"></i>
                            </div>
                        </div>
                    </label>
                    <div class="line"></div>
                </div>
                <div class="rowBox">
                    <div class="leftBox">
                        <span class="redStar">*</span>开户姓名
                    </div>
                    <label for="bankCardName">
                        <div class="rightBox">
                            <input id="bankCardName" type="text" placeholder="请输入姓名" ng-model="upGrade.cardName">
                            <div class="waring" id="bankCardNameWaring"><i class="icon ion-android-warning"></i>
                            </div>
                        </div>
                    </label>
                    <div class="line"></div>
                </div>
                <div class="rowBox">
                    <div class="leftBox">
                        <span class="redStar">*</span>开户支行
                    </div>
                    <label for="branchBank">
                        <div class="rightBox">
                            <input type="text" id="branchBank" placeholder="xx区xx路xx支行" ng-model="upGrade.branchBank">
                            <div class="waring" id="branchBankWaring"><i class="icon ion-android-warning"></i>
                            </div>
                        </div>
                    </label>
                    <div class="line"></div>
                </div>
                <div class="rowBox">
                    <div class="leftBox">
                        <span class="redStar">*</span>省市地区
                    </div>

                    <div class="rightBox">
                        <input type="text" id="address" placeholder="请选择地址" readonly ng-click="chooseAddress()"
                               style="background-color: white"/>
                    </div>
                    <div class="line"></div>
                </div>
                <div class="rowBottomBox">
                    <div class="submitButton" ng-click="submitUpGradeAction()">提交</div>
                    <div class="resetButton" ng-click="reset()">重置</div>
                </div>
            </div>
        </ion-scroll>
    </ion-content>

</ion-view>