<ion-view view-title="公告通知" hide-tabs="true" hide-nav-bar="{{isNavShow}}">
    <navigation-bar is-back="true" title="公告通知"></navigation-bar>
    <ion-content>
        <ion-scroll style="width:100%;position:absolute;top:60px;" set-window-height-no-navigation="">
            <!--下拉刷新-->
            <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>

            <div ng-show="isEmptyData" style="width: 100%;height: 200px;text-align: center;line-height: 200px"
                 class="of_emptyList">
                暂无数据
            </div>
            <!--新消息-->
            <div class="itemBox" ng-repeat="item in datas" view-on-finish ng-click="showDetail(item)">
                <div class="leftIconBox">
                    <img class="messageIcon" src="./resource/images/icon/notice.png">
                </div>
                <div class="messageBox">
                    <div class="titleBox">
                        <div class="title ellipsis">{{item.title}}</div>
                        <div class="time">{{item.add_time|timeFilter}}</div>

                    </div>
                    <div class="contentBox">
                        {{item.description}}

                    </div>

                </div>
            </div>
            <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
            <ion-infinite-scroll ng-if="isCanPull" on-infinite="loadMore()" distance="2%"
                                 immediate-check="false"></ion-infinite-scroll>
        </ion-scroll>
    </ion-content>
</ion-view>