<ion-view view-title="未读消息详情" hide-tabs="true" hide-nav-bar="{{isNavShow}}">

    <ion-content>

        <navigation-bar is-back="true" title="未读消息详情"></navigation-bar>
        <ion-scroll style="width:100%;position:absolute;top:60px;">
            <div class="umd_Box">
                <div class="umd_titleBox">
                    {{title}}
                </div>
                <div class="umd_belongBox">
                    <div class="umd_createUser">

                        创建人&nbsp;:&nbsp;{{create_user_name}}
                    </div>
                    <div class="umd_createTime">
                        时间&nbsp;:&nbsp;{{ add_time|timeFilter}}
                        <!--{{createTime}}-->
                    </div>
                </div>
                <div class="umd_content" ng-bind-html="content"></div>
            </div>
        </ion-scroll>
    </ion-content>
</ion-view>