<ion-view view-title="代金券转账记录" hide-tabs="true" hide-nav-bar="{{isNavShow}}">
    <navigation-bar is-back="true" title="代金券转账记录"></navigation-bar>
    <ion-content>
        <!--下拉刷新-->
        <ion-scroll set-window-height-no-navigation="" style="width:100%;position:absolute;top:60px;">
            <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()"></ion-refresher>
            <div class="tr_Box">
                <div ng-show="isEmptyData" style="width: 100%;height: 200px;text-align: center;line-height: 200px"
                     class="tr_emptyList">
                    暂无数据
                </div>
                <div class="tr_itemBox" ng-repeat="item in data">
                    <div class="tr_transOutPersonBox">
                        <div class="tr_NameBox">
                            转出人:
                        </div>
                        <div class="tr_ValueBox">
                            {{item.user_name}}
                        </div>
                    </div>
                    <div class="transInPersonBox">
                        <div class="tr_NameBox">
                            转入人:
                        </div>
                        <div class="tr_ValueBox">
                            {{item.target_user}}
                        </div>
                    </div>
                    <div class="transMoneyBox">
                        <div class="tr_NameBox">
                            转账金额:
                        </div>
                        <div class="tr_ValueBox">
                            {{item.point}}
                        </div>
                    </div>
                    <div class="transTimeBox">
                        <div class="tr_NameBox">
                            转账时间:
                        </div>
                        <div class="tr_ValueBox">
                            {{item.addtime == 0?"---":item.addtime*1000 | date:'yyyy-MM-dd HH:mm'}}
                        </div>
                    </div>
                    <div class="transRemarkBox">
                        <div class="tr_RemarkName" style="width:90px;">
                            备注:
                        </div>
                        <div class="tr_RemarkValue">
                            {{item.remark}}
                        </div>
                    </div>
                    <div style="clear:both;"></div>

                </div>
            </div>
            <!-- ion-infinite-scroll 上拉加载数据指令 distance默认1% nf-if的值为false时，就禁止执行on-infinite  -->
            <ion-infinite-scroll ng-if="isCanPull" on-infinite="loadMore()" distance="1%"
                                 immediate-check="false"></ion-infinite-scroll>
        </ion-scroll>
    </ion-content>
</ion-view>