<ion-view view-title="我的" hide-nav-bar="{{isNavShow}}">
    <ion-content class="padding">
        <div ng-include="'views/public/headerTitlePublic.html'"></div>

        <!--用户信息-->
        <div class="userBox">
            <img class="usrIcon" alt="用户图像" src="./resource/images/default/default_header.png">
            <p class="userAccount">zhangsan</p>
            <img class="levelIcon" alt="等级图标" src="./resource/images/default/default_header.png">
            <span class="levelName">注册会员</span>

        </div>

        <!--金额和积分-->
        <div class="moneyAndScoreBox">
            <div class="moneyBox">
                <div class="moneyName">金额</div>
                <div class="moneyCount">222</div>
            </div>
            <div class="moneyBox">
                <div class="moneyName">积分</div>
                <div class="moneyCount">145</div>
            </div>
        </div>


    </ion-content>
</ion-view>


