<ion-view view-title="我的" hide-nav-bar="{{isNavShow}}">
    <ion-content>
        <div  ng-include="'views/public/headerTitlePublic.html'"></div>

        <!--用户信息-->
        <div class="userBox">
            <div class="usrIconBox">
                <img class="usrIcon" alt="用户图像" src="./resource/images/default/default_header.png">
            </div>
            <div class="userAccountBox">
                zhangsan
            </div>
            <div class="levelBox">
                <img class="levelIcon" alt="等级图标" src="./resource/images/default/default_header.png">
                <span class="levelName">注册会员</span>
            </div>

        </div>

        <!--金额和积分-->
        <div class="moneyAndScoreBox">
            <div class="moneyBox">
                <div class="moneyName">金额</div>
                <div class="moneyCount">222</div>
            </div>
            <div class="moneyBox scoreBox">
                <div class="moneyName scoreName">积分</div>
                <div class="moneyCount scoreCount">145</div>
            </div>
        </div>

        <!--我的办公室-->
        <div class="MyOfficeBox">
            <div class="officeIconNameBox">
                <img class="officeIcon" alt="办公室" src="./resource/images/default/default_header.png">
                <span class="officeName">我的办公室</span>
            </div>
            <div class="nextPageBox">
                <img class="nextPage" alt="下页" src="./resource/images/default/default_header.png">
            </div>
        </div>

        <!--业务相关-->
        <div class="businessBox">
            <div class="businessRowBox">
                <div class="businessColBox">
                     <img class="indentIcon" alt="我的订单" src="./resource/images/default/default_header.png">
                      <div class="indentName">我的订单</div>
                </div>
                <div class="businessColBox">
                    <img class="indentIcon" alt="我的订单" src="./resource/images/default/default_header.png">
                    <div class="indentName">我的订单</div>

                </div>
                <div class="businessColBox">
                    <img class="indentIcon" alt="我的订单" src="./resource/images/default/default_header.png">
                    <div class="indentName">我的订单</div>

                </div>
            </div>
            <div class="businessRowBox">
                <div class="businessColBox">
                    <img class="indentIcon" alt="我的订单" src="./resource/images/default/default_header.png">
                    <div class="indentName">我的订单</div>

                </div>
                <div class="businessColBox">
                    <img class="indentIcon" alt="我的订单" src="./resource/images/default/default_header.png">
                    <div class="indentName">我的订单</div>

                </div>
                <div class="businessColBox">
                    <img class="indentIcon" alt="我的订单" src="./resource/images/default/default_header.png">
                    <div class="indentName">我的订单</div>

                </div>

            </div>
            <div class="businessRowBox">
                <div class="businessColBox">
                    <img class="indentIcon" alt="我的订单" src="./resource/images/default/default_header.png">
                    <div class="indentName">我的订单</div>

                </div>
                <div class="businessColBox">
                    <img class="indentIcon" alt="我的订单" src="./resource/images/default/default_header.png">
                    <div class="indentName">我的订单</div>

                </div>
                <div class="businessColBox">
                    <img class="indentIcon" alt="我的订单" src="./resource/images/default/default_header.png">
                    <div class="indentName">我的订单</div>
                </div>

            </div>
            <div class="businessRowBox">
                <div class="businessColBox">
                    <img class="indentIcon" alt="我的订单" src="./resource/images/default/default_header.png">
                    <div class="indentName">我的订单</div>
                </div>
                <div class="businessColBox"></div>
                <div class="businessColBox"></div>
            </div>
        </div>


    </ion-content>
</ion-view>


