<ion-view view-title="首页" hide-nav-bar="{{isNavShow}}">
	<ion-content>
		<!--<div ng-include="'views/public/headerSearchPublic.html'"></div>-->
		<div class="headerBox">
			<div class="logoBox">
				<div class="logoMain">
					<img src="resource/images/icon/logo.png" />
				</div>
			</div>
			<div class="searchBox">
				<div class="searchInputBox" ng-click="goSearchVC()">
					<div class="inputSearch" style="width:100%;height:40px;background:#fff;border-radius:5px;">
						<span class="ellipsis" style="width: 100%;height: 40px;line-height: 40px;color: #ccc;margin-left: 40px ">商品名称</span></div>
					<i class="icon ion-ios-search"></i>
				</div>
			</div>
		</div>

		<div class="lunboBanner">
			<ion-slide-box class="bannerBox">
				<ion-slide>
					<div class="box bannerItem">
						<img src="./resource/images/banner/ban_1.png" />
					</div>
				</ion-slide>
				<ion-slide>
					<div class="box bannerItem">
						<img src="./resource/images/banner/ban_2.png" />
					</div>
				</ion-slide>
				<ion-slide>
					<div class="box bannerItem">
						<img src="./resource/images/banner/ban_3.png" />
					</div>
				</ion-slide>
				
			</ion-slide-box>
		</div>

		<div class="newProductBox"  >
			<div class="productLeftBox" ng-click="goGoodsDetail(158)">
				<img src="./resource/images/newgoods/goods_new.png" />
				<!--<img src="./resource/images/default/default_image.png" style="width:100%;height:100%;" data-original='{{newsGoodsData[0].img_normal}}' />-->
				
				<div class="newIcon">
					
				</div>
 			</div>
			<!--<div class="productContent">-->
				<!--<div class="productTitle">凝胶</div>-->
				<!--<div class="productDesc_1">爱她爱他胶原蛋白果汁饮品</div>-->
				<!--<div class="productDesc_2">焕然一新 美颜饮新骄傲</div>-->
			<!--</div>-->
		</div>

		<div class="productListBox">
			<div class="leftProductBox" ng-click="goGoodsDetail(161)">
				<div class="productTitle ellipsis">三八妇乐亲清免洗消毒喷雾</div>
				<div class="productDesc ellipsis">轻轻一喷 卫生舒心</div>
				<div class="productImage">
					<img src="./resource/images/newgoods/goods_01.png" />
				</div>


			</div>
			<div class="rightProductBox">
				<div class="topProductBox" ng-click="goGoodsDetail(169)">
					<div class="leftProductImage">
						<img src="./resource/images/newgoods/goods_02.png" />
					</div>
					<div class="rightProductInfo">
						<div class="rightProductTitle" style="color: limegreen">格欧尼亚</div>
						<div class="rightProductDesc">乳木果焕采嫩滑沐浴礼盒</div>
					</div>
				</div>
				<div class="topProductBox" style="border:none;" ng-click="goGoodsDetail(160)">
					<div class="leftProductImage">
						<img src="./resource/images/newgoods/goods_03.png" />
					</div>
					<div class="rightProductInfo">
						<div class="rightProductTitle ellipsis" style="color: red">三八妇乐伊悦美</div>
						<div class="rightProductDesc ellipsis">蔓越莓益生菌固体饮料</div>
					</div>
				</div>
			</div>
		</div>

		<div class="productListBox2">
			<div class="leftProductBox goodsItem" style="border-right:1px solid #eee; padding-left:5px;padding-right:5px;" name="167">
				<!--<div class="productTitle ellipsis">{{hotGoodsData[0].brand_name}}</div>-->
				<!--<div class="productDesc ellipsis">{{hotGoodsData[0].goods_name}}</div>-->
				<div class="productTitle ellipsis">一品清心参花茶</div>
				<div class="productDesc ellipsis">匠心十年 只为一杯好茶</div>
				<div class="productImage homeImage_1">
					<!--<img src="./resource/images/newgoods/goods_04.png" style="width:100%;height:100%;" data-original='{{hotGoodsData[0].img_normal}}' />-->
					<img src="./resource/images/newgoods/goods_04.png" style="width:100%;height:100%;" />
				</div>


			</div>
			 <div class="leftProductBox goodsItem" style="padding-left:5px;padding-right:5px;" name="97">
				<!--<div class="productTitle ellipsis">{{hotGoodsData[1].brand_name}}</div>-->
				<!--<div class="productDesc ellipsis">{{hotGoodsData[1].goods_name}}</div>-->
				 <div class="productTitle ellipsis">三八妇乐妇洁抑菌凝胶</div>
				 <div class="productDesc ellipsis">一管到底 健康美丽</div>
				<div class="productImage homeImage_2">
					<!--<img src="./resource/images/newgoods/goods_05.png" style="width:100%;height:100%;" data-original='{{hotGoodsData[1].img_normal}}' />-->
					<img src="./resource/images/newgoods/goods_05.png" style="width:100%;height:100%;"/>
				</div>


			</div>
		</div>

		<!--<div class="productListBox2" style="margin-top:0px;border-top:1px solid #eee;">-->
			<!--<div class="leftProductBox goodsItem" style="border-right:1px solid #eee;padding-left:20px;padding-right:20px;"  name="{{hotGoodsData[2].goods_id}}">-->
				<!--<div class="productTitle ellipsis">{{hotGoodsData[2].brand_name}}</div>-->
				<!--<div class="productDesc ellipsis">{{hotGoodsData[2].goods_name}}</div>-->
				<!--<div class="productImage homeImage_3">-->
					<!--<img src="./resource/images/default/default_image.png" style="width:100%;height:100%;" data-original='{{hotGoodsData[2].img_normal}}' />-->
				<!--</div>-->

				<!---->
			<!--</div>-->
			 <!--<div class="leftProductBox goodsItem" style="padding-left:20px;padding-right:20px;" name="{{hotGoodsData[3].goods_id}}">-->
				<!--<div class="productTitle ellipsis">{{hotGoodsData[3].brand_name}}</div>-->
				<!--<div class="productDesc ellipsis">{{hotGoodsData[3].goods_name}}</div>-->
				<!--<div class="productImage homeImage_4">-->
					<!--<img src="./resource/images/default/default_image.png" style="width:100%;height:100%;" data-original='{{hotGoodsData[3].img_normal}}' />-->
				<!--</div>-->

				<!---->
			<!--</div>-->
		<!--</div>-->

		<div class="productListBox3">
			
			<div class="leftProductBox">
				<div class="topProductBox" ng-click="goGoodsDetail(104)">
					<div class="leftProductImage homeImage_3">
						<!--<img src="./resource/images/default/default_image.png" data-original='{{hotGoodsData[2].img_normal}}' />-->
						<img src="./resource/images/newgoods/goods_06.png" />
					</div>
					<div class="rightProductInfo">
						<!--<div class="rightProductTitle ellipsis">{{hotGoodsData[2].brand_name}}</div>-->
						<!--<div class="rightProductDesc ellipsis">{{hotGoodsData[2].brand_name}}</div>-->
						<div class="rightProductTitle ellipsis">妍健·用品</div>
					</div>
				</div>
				<div class="bottomProductBox" style="border:none;" ng-click="goGoodsDetail(48)">
					<div class="leftProductImage2">
						<img src="./resource/images/newgoods/goods_07.png" />
					</div>
					<div class="rightProductInfo2">
						<!--<div class="rightProductTitle">爱她爱他</div>-->
						<!--<div class="rightProductDesc ellipsis">胶原蛋白果汁饮料</div>-->
						<div class="rightProductTitle2">妍生·食品</div>
					</div>
				</div>
			</div>

			<div class="rightProductBox" ng-click="goGoodsDetail(51)">
				<div class="productTitle">精彩·男士护理</div>
				<div class="productDesc">专为男士而生</div>
				<div class="productImage">
					<img src="./resource/images/newgoods/goods_08.png" />
				</div>

			</div>

		</div>

		<div class="recommendTitleBox">
			<div class="middleLine"></div>
			<span>商品推荐</span>
		</div>

		<div class="recommendGoodsBox">
			<div class="recommendGoodsItem">
				<div class="recommendGoodsItemBox goodsItem" name="{{hotGoodsData[0].goods_id}}">
					<div class="recommendImage homeImage_5">
						<img src="./resource/images/default/default_image.png" style="width:100%;height:100%;" data-original='{{hotGoodsData[0].img_normal}}' />
						
					</div>
					<p class="ellipsis" style="width:80%;font-size:14px;color:#878787;margin-top:-25px;padding-left:10px;">{{hotGoodsData[0].goods_name}}</p>
					<p style="color:#a82285;font-size:18px;padding-left:8px;">￥{{hotGoodsData[0].shop_price}}
							</p>
					<img class="cartIcon" src="./resource/images/icon/shoppingcar.png" data-goodsprice="{{hotGoodsData[0].shop_price}}" data-goodsname="{{hotGoodsData[0].goods_name}}" data-goodsid="{{hotGoodsData[0].goods_id}}" />
				</div>
			</div>
			<div class="recommendGoodsItem">
				<div class="recommendGoodsItemBox goodsItem" name="{{hotGoodsData[1].goods_id}}">
					<div class="recommendImage homeImage_6">
						<img src="./resource/images/default/default_image.png" style="width:100%;height:100%;" data-original='{{hotGoodsData[1].img_normal}}' />
						
					</div>
					<p class="ellipsis" style="width:80%;font-size:14px;color:#878787;margin-top:-25px;padding-left:10px;">{{hotGoodsData[1].goods_name}}</p>
						<p style="color:#a82285;font-size:18px;padding-left:8px;">￥{{hotGoodsData[1].shop_price}}</p>
					<img class="cartIcon" src="./resource/images/icon/shoppingcar.png" data-goodsprice="{{hotGoodsData[1].shop_price}}" data-goodsname="{{hotGoodsData[1].goods_name}}" data-goodsid="{{hotGoodsData[1].goods_id}}" />
				</div>
				
			</div>
			<div class="recommendGoodsItem">
				<div class="recommendGoodsItemBox goodsItem" name="{{hotGoodsData[2].goods_id}}">
					<div class="recommendImage homeImage_7">
						<img src="./resource/images/default/default_image.png" style="width:100%;height:100%;" data-original='{{hotGoodsData[2].img_normal}}' />
						
					</div>
					<p class="ellipsis" style="width:80%;font-size:14px;color:#878787;margin-top:-25px;padding-left:10px;">{{hotGoodsData[2].goods_name}}</p>
						<p style="color:#a82285;font-size:18px;padding-left:8px;">￥{{hotGoodsData[2].shop_price}}</p>
					<img class="cartIcon" src="./resource/images/icon/shoppingcar.png" data-goodsprice="{{hotGoodsData[2].shop_price}}" data-goodsname="{{hotGoodsData[2].goods_name}}" data-goodsid="{{hotGoodsData[2].goods_id}}" />
				</div>
			</div>
			<div class="recommendGoodsItem">
				<div class="recommendGoodsItemBox goodsItem" name="{{hotGoodsData[3].goods_id}}">
					<div class="recommendImage homeImage_8">
						<img src="./resource/images/default/default_image.png" style="width:100%;height:100%;" data-original='{{hotGoodsData[3].img_normal}}' />
	
					</div>
										<p  class="ellipsis" style="width:80%;font-size:14px;color:#878787;margin-top:-25px;padding-left:10px;">{{hotGoodsData[3].goods_name}}</p>
						<p class="ellipsis" style="width:80%;color:#a82285;font-size:18px;padding-left:8px;">￥{{hotGoodsData[3].shop_price}}</p>
					<img class="cartIcon" src="./resource/images/icon/shoppingcar.png" data-goodsprice="{{hotGoodsData[3].shop_price}}" data-goodsname="{{hotGoodsData[3].goods_name}}" data-goodsid="{{hotGoodsData[3].goods_id}}" />
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>