<ion-view view-title="首页" hide-nav-bar="{{isNavShow}}">
	<ion-content>

		<div ng-include="'views/public/headerSearchPublic.html'"></div>

		<div class="lunboBanner">
			<ion-slide-box class="bannerBox">
				<ion-slide>
					<div class="box bannerItem">
						<img src="./resource/images/banner/ban_1.png" />
					</div>
				</ion-slide>
				<ion-slide>
					<div class="box bannerItem">
						<img src="./resource/images/banner/ban_2.png" />
					</div>
				</ion-slide>
				<ion-slide>
					<div class="box bannerItem">
						<img src="./resource/images/banner/ban_3.png" />
					</div>
				</ion-slide>
				
			</ion-slide-box>
		</div>
		
		<div class="newProductBox">
			<div class="productLeftBox">
				<img src="./resource/images/goods_1.png" />

				
				<div class="newIcon">
					
				</div>
 			</div>
			<div class="productContent">
				<div class="productTitle">木糖醇 山药枸杞</div>
				<div class="productDesc_1">颗粒植物固体饮料</div>
				<div class="productDesc_2">健康新升级</div>
			</div>
		</div>

		<div class="productListBox">
			<div class="leftProductBox">
				<div class="productTitle">爱她爱他</div>
				<div class="productDesc">玫瑰黑枣复合果汁饮料</div>
				<div class="productImage">
					<img src="./resource/images/goods_2.png" />
				</div>

				
			</div>
			<div class="rightProductBox">
				<div class="topProductBox">
					<div class="leftProductImage">
						<img src="./resource/images/goods_3.png" />
					</div>
					<div class="rightProductInfo">
						<div class="rightProductTitle">爱她爱他</div>
						<div class="rightProductDesc ellipsis">胶原蛋白果汁饮料</div>
					</div>
				</div>
				<div class="topProductBox" style="border:none;">
					<div class="leftProductImage">
						<img src="./resource/images/goods_4.png" />
					</div>
					<div class="rightProductInfo">
						<div class="rightProductTitle">爱她爱他</div>
						<div class="rightProductDesc ellipsis">胶原蛋白果汁饮料</div>
					</div>
				</div>
			</div>
		</div>

		<div class="productListBox2">
			<div class="leftProductBox" style="border-right:1px solid #eee;">
				<div class="productTitle">爱她爱他</div>
				<div class="productDesc">玫瑰黑枣复合果汁饮料</div>
				<div class="productImage">
					<img src="./resource/images/goods_2.png" />
				</div>

				
			</div>
			 <div class="leftProductBox">
				<div class="productTitle">爱她爱他</div>
				<div class="productDesc">玫瑰黑枣复合果汁饮料</div>
				<div class="productImage">
					<img src="./resource/images/goods_2.png" />
				</div>

				
			</div>
		</div>

		<div class="productListBox3">
			
			<div class="rightProductBox">
				<div class="topProductBox">
					<div class="leftProductImage">
						<img src="./resource/images/goods_3.png" />
					</div>
					<div class="rightProductInfo">
						<div class="rightProductTitle">爱她爱他</div>
						<div class="rightProductDesc ellipsis">胶原蛋白果汁饮料</div>
					</div>
				</div>
				<div class="topProductBox" style="border:none;">
					<div class="leftProductImage">
						<img src="./resource/images/goods_4.png" />
					</div>
					<div class="rightProductInfo">
						<div class="rightProductTitle">爱她爱他</div>
						<div class="rightProductDesc ellipsis">胶原蛋白果汁饮料</div>
					</div>
				</div>
			</div>

			<div class="leftProductBox">
				<div class="productTitle">爱她爱他</div>
				<div class="productDesc">玫瑰黑枣复合果汁饮料</div>
				<div class="productImage">
					<img src="./resource/images/goods_2.png" />
				</div>

				
			</div>

		</div>

		<div class="recommendTitleBox">
			<div class="middleLine"></div>
			<span>商品推荐</span>
		</div>

		<div class="recommendGoodsBox">
			<div class="recommendGoodsItem">
				<div class="recommendGoodsItemBox">
					<div class="recommendImage">
						<img src="./resource/images/goods_111.png" />
						<p style="font-size:16px;margin-top:5px;padding-left:10px;">亲情免洗消毒喷雾</p>
						<p style="color:#a82285;font-size:18px;padding-left:10px;">￥238.00
							
						</p>
					</div>
					<img class="cartIcon" src="./resource/images/icon/shoppingcar.png" />
				</div>
			</div>
			<div class="recommendGoodsItem">
				<div class="recommendGoodsItemBox">
					<div class="recommendImage">
						<img src="./resource/images/goods_111.png" />
						<p style="font-size:16px;margin-top:5px;padding-left:10px;">亲情免洗消毒喷雾</p>
						<p style="color:#a82285;font-size:18px;padding-left:10px;">￥238.00</p>
					</div>
					<img class="cartIcon" src="./resource/images/icon/shoppingcar.png" />
				</div>
				
			</div>
			<div class="recommendGoodsItem">
				<div class="recommendGoodsItemBox">
					<div class="recommendImage">
						<img src="./resource/images/goods_111.png" />
						<p style="font-size:16px;margin-top:5px;padding-left:10px;">亲情免洗消毒喷雾</p>
						<p style="color:#a82285;font-size:18px;padding-left:10px;">￥238.00</p>
					</div>
					<img class="cartIcon" src="./resource/images/icon/shoppingcar.png" />
				</div>
			</div>
			<div class="recommendGoodsItem">
				<div class="recommendGoodsItemBox">
					<div class="recommendImage">
						<img src="./resource/images/goods_111.png" />
						<p style="font-size:16px;margin-top:5px;padding-left:10px;">亲情免洗消毒喷雾</p>
						<p style="color:#a82285;font-size:18px;padding-left:10px;">￥238.00</p>
					</div>
					<img class="cartIcon" src="./resource/images/icon/shoppingcar.png" />
				</div>
			</div>
		</div>

	</ion-content>
</ion-view>