.cartBox {
  width: 100%;
  height: 100%;
}
.cartBox .buyerListBox {
  width: 100%;
  position: absolute;
  top: 70px;
  bottom: 90px;
  right: 0px;
}
.cartBox .buyerListBox .buyerItem {
  width: 100%;
  height: 110px;
  margin-top: 4px;
  position: relative;
  background: #fff;
}
.cartBox .buyerListBox .buyerItem:first-child {
  margin-top: 3px;
}
.cartBox .buyerListBox .buyerItem .selectBtnBox {
  width: 50px;
  height: 100%;
  float: left;
}
.cartBox .buyerListBox .buyerItem .selectBtnBox .selectBtn {
  width: 20px;
  height: 20px;
  background: #fff;
  margin-top: 40px;
  margin-left: 15px;
  border-radius: 10px;
  border: 1px solid #ccc;
}
.cartBox .buyerListBox .buyerItem .cartGoodsImage {
  width: 110px;
  height: 100%;
  float: left;
}
.cartBox .buyerListBox .buyerItem .cartGoodsImage img {
  width: 90%;
  margin-left: 5%;
  margin-top: 5%;
}
.cartBox .buyerListBox .buyerItem .cartGoodsInfo {
  height: 100%;
  position: absolute;
  left: 160px;
  top: 0px;
  right: 0px;
  bottom: 0px;
}
.cartBox .buyerListBox .buyerItem .cartGoodsInfo .cartGoodsTitleBox {
  width: 100%;
  height: 55px;
  padding-left: 10px;
}
.cartBox .buyerListBox .buyerItem .cartGoodsInfo .cartGoodsTitleBox span {
  margin-top: 30px;
  float: left;
}
.cartBox .buyerListBox .buyerItem .cartGoodsInfo .cartGoodsInfoBox {
  width: 100%;
  height: 55px;
}
.cartBox .buyerListBox .buyerItem .cartGoodsInfo .cartGoodsInfoBox .cartGoodsMoneyBox {
  width: 120px;
  height: 55px;
  padding-left: 10px;
  float: left;
}
.cartBox .buyerListBox .buyerItem .cartGoodsInfo .cartGoodsInfoBox .cartGoodsMoneyBox span {
  float: left;
  margin-top: 5px;
}
.cartBox .buyerListBox .buyerItem .cartGoodsInfo .cartGoodsInfoBox .cartGoodsActionBox {
  width: 100px;
  height: 30px;
  border: 1px solid #ccc;
  float: right;
  margin-right: 10px;
}
.cartBox .hintBox {
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 60px;
  line-height: 30px;
}
.cartBox .hintBox span {
  width: 100%;
  height: 100%;
  background: #D29BC4 ;
  position: absolute;
  font-size: 12px;
  text-align: center;
}
.cartBox .amountBox {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #e6b400;
}
