.buyerListBox {
  width: 100%;
  position: absolute;
  top: 70px;
  bottom: 90px;
  right: 0px;
  background: #9e9e9e;
}
.buyerListBox .GoodsItem {
  width: 100%;
  height: 130px;
  background: red;
}
.hintBox {
  width: 100%;
  height: 30px;
  background: #D29BC4;
  text-align: left;
  position: absolute;
  bottom: 60px;
  line-height: 30px;
}
.amountBox {
  width: 100%;
  height: 60px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  background: #e6b400;
}
.cartBox {
  width: 100%;
  height: 100%;
  background: red;
}
