
.cartBox {
  width:100%;
  height:100%;

  .buyerListBox{
    width:100%;
    position:absolute;
    top:70px;
    bottom:90px;
    right:0px;

    .buyerItem{

      width: 100%;
      height: 110px;
      margin-top: 4px;
      position:relative;
      background:#fff;


      &:first-child {
        margin-top:3px;
      }

      .selectBtnBox {
        width:50px;
        height:100%;
        float:left;

        .selectBtn {
          width:22px;
          height:22px;
          background:#fff;
          margin-top:40px;
          margin-left:15px;
          border-radius:11px;
          border:1px solid #ccc;
        }
      }

      .cartGoodsImage {
        width:110px;
        height:100%;
        float:left;

        img {
          width:90%;
          height: 90%;
          margin-left:5%;
          margin-top:5%;
        }
      }

      .cartGoodsInfo {
        height:100%;
        position:absolute;
        left:170px;
        top:0px;
        right:0px;
        bottom:0px;
        font-size: 14px;

        .cartGoodsTitleBox {
           width:100%;
           height:55px;
          padding-left:10px;

          span {
            margin-top:30px;
            float:left;
          }

         }

        .cartGoodsInfoBox {
          width:100%;
          height:55px;

          .cartGoodsMoneyBox {
            width:120px;
            height:55px;
            padding-left:10px;
            font-size: 15px;
            float:left;

            span{
              color: #A92586;
              font-size: 15px;
            }


          }

          .cartGoodsActionBox {
              width:100px;
              height:30px;
              border:1px solid #ccc;
              float:right;
              margin-right:10px;
          }
        }
      }

    }

  }



  .hintBox{
    width: 100%;
    height: 30px;
    position:absolute;
    bottom:60px;
    line-height: 30px;

    span{
     width: 100%;
     height: 100%;
      background: #ebcde2;
      position: absolute;
      font-size: 12px;
      text-align: center;
    }

  }

  .amountBox{
    width: 100%;
    height: 60px;
    position:absolute;
    bottom:0px;
    left:0px;

     .selectBox{
       width:30%;
       height: 100%;
       float: left;

       .allSelectArea{
         width:40%;
         height: 100%;
         float: left;
         background: white;


         .allSelectBtn{
           width:22px;
           height:22px;
           background:white;
           margin-top:20px;
           margin-left:15px;

           border-radius:11px;
           border:1px solid #ccc;

         }

       }

        .allSelectPrompt{
          width: 60%;
          height: 60px;
          float: left;
          background: white;
          line-height: 60px;
          text-align: left;

          span{
            width: 100%;
            height: 30px;
            font-size: 14px;


          }

        }



     }

       .valueBox{
         width: 40%;
         height: 60px;
         float: left;
         line-height: 60px;
         text-align: left;
         background: white;
         span{
           color:#A92586;
           font-size: 16px;
         }
           a{
             color: #888888;
             font-size: 12px;

           }
       }

    .accountBox{
      width: 30%;
      height: 100%;
      float: left;
      color: #fff;
      background: #d79ac4;
      line-height: 60px;
      text-align: center;


    }


  }







}



