<ion-view view-title="购物车" hide-nav-bar="{{isNavShow}}">
	<ion-content>

		<div ng-include="'./views/public/headerTitlePublic.html'"></div>


		<div class="cartBox" screen-height="0">

			<div class="buyerListBox">

				<ion-scroll style="width: 100%;height:100%;">

					<div class="buyerItem">

                         <div class="selectBtnBox">
							 <div class="selectBtn">
								 <img src="resource/images/icon/shoppingcar_xuanz.png">
							 </div>
						 </div>
						 <div class="cartGoodsImage">
							 <img alt="商品图片" src="resource/images/goods_11.png" />
						 </div>
						<div class="cartGoodsInfo">
							<div class="cartGoodsTitleBox"><span>爱她爱他 较远蛋白果汁饮品</span></div>
							<div class="cartGoodsInfoBox">
								<div class="cartGoodsMoneyBox">
									<span><strong>¥ </strong>300</span>
								</div>
								<div class="cartGoodsActionBox">
									<img src="resource/images/icon/shoppingcar_add.png" />
									<p>99</p>
									<img src="resource/images/icon/shoppingcar_reduce.png" />
								</div>
							</div>
						</div>
					</div>

					<div class="buyerItem">

						<div class="selectBtnBox">
							<div class="selectBtn">
								<img src="resource/images/icon/shoppingcar_xuanz.png">

							</div>
						</div>
						<div class="cartGoodsImage">
							<img alt="商品图片" src="resource/images/goods_2.png" />
						</div>
						<div class="cartGoodsInfo">
							<div class="cartGoodsTitleBox"><span>爱她爱他 较远蛋白果汁饮品</span></div>
							<div class="cartGoodsInfoBox">
								<div class="cartGoodsMoneyBox">
									<span><strong>¥ </strong>300</span>
								</div>
								<div class="cartGoodsActionBox">
									<img src="resource/images/icon/shoppingcar_add.png" />
									<p>99</p>
									<img src="resource/images/icon/shoppingcar_reduce.png" />
								</div>
							</div>
						</div>
					</div>

					<div class="buyerItem">

						<div class="selectBtnBox">
							<div class="selectBtn">
								<img src="resource/images/icon/shoppingcar_xuanz.png">

							</div>
						</div>
						<div class="cartGoodsImage">
							<img alt="商品图片" src="resource/images/goods_4.png" />
						</div>
						<div class="cartGoodsInfo">
							<div class="cartGoodsTitleBox"><span>爱她爱他 较远蛋白果汁饮品</span></div>
							<div class="cartGoodsInfoBox">
								<div class="cartGoodsMoneyBox">
									<span><strong>¥ </strong>300</span>
								</div>
								<div class="cartGoodsActionBox">
									<img src="resource/images/icon/shoppingcar_add.png" />
									<p>99</p>
									<img src="resource/images/icon/shoppingcar_reduce.png" />
								</div>
							</div>
						</div>
					</div>

					<div class="buyerItem">

						<div class="selectBtnBox">
							<div class="selectBtn">
								<img src="resource/images/icon/shoppingcar_xuanz.png">

							</div>
						</div>
						<div class="cartGoodsImage">
							<img alt="商品图片" src="resource/images/goods_1.png" />
						</div>
						<div class="cartGoodsInfo">
							<div class="cartGoodsTitleBox"><span>爱她爱他 较远蛋白果汁饮品</span></div>
							<div class="cartGoodsInfoBox">
								<div class="cartGoodsMoneyBox">
									<span><strong>¥ </strong>300</span>
								</div>

								<div class="cartGoodsActionBox">
									<img src="resource/images/icon/shoppingcar_add.png" />
									<p>99</p>
									<img src="resource/images/icon/shoppingcar_reduce.png" />
								</div>
							</div>
						</div>
					</div>

					<div class="buyerItem">

						<div class="selectBtnBox">
							<div class="selectBtn">
								<img src="resource/images/icon/shoppingcar_xuanz.png">

							</div>
						</div>
						<div class="cartGoodsImage">
							<img alt="商品图片" src="resource/images/goods_11.png" />
						</div>
						<div class="cartGoodsInfo">
							<div class="cartGoodsTitleBox"><span>爱她爱他 较远蛋白果汁饮品</span></div>
							<div class="cartGoodsInfoBox">
								<div class="cartGoodsMoneyBox">
									<span><strong>¥ </strong>300</span>
								</div>
								<div class="cartGoodsActionBox">
									<img src="resource/images/icon/shoppingcar_add.png" />
									<p>99</p>
									<img src="resource/images/icon/shoppingcar_reduce.png" />
								</div>

							</div>
						</div>
					</div>

					<div class="buyerItem">

						<div class="selectBtnBox">
							<div class="selectBtn">
								<img src="resource/images/icon/shoppingcar_xuanz.png">
							</div>
						</div>
						<div class="cartGoodsImage">
							<img alt="商品图片" src="resource/images/goods_11.png" />
						</div>
						<div class="cartGoodsInfo">
							<div class="cartGoodsTitleBox"><span>爱她爱他 较远蛋白果汁饮品</span></div>
							<div class="cartGoodsInfoBox">
								<div class="cartGoodsMoneyBox">
									<span><strong>¥ </strong>300</span>
								</div>
								<div class="cartGoodsActionBox">
									<img src="resource/images/icon/shoppingcar_add.png" />
									<p>99</p>
									<img src="resource/images/icon/shoppingcar_reduce.png" />
								</div>
							</div>
						</div>
					</div>

				</ion-scroll>


			</div>

			<div class="hintBox">

			<span>此笔订单金额还差17314元,即可享受高级志愿者折扣10000减5000</span>

			</div>

			<div class="amountBox">

				<div class="selectBox">
					<div class="allSelectArea">
						<div class="allSelectBtn">
							<img src="resource/images/icon/shoppingcar_xuanz.png">
						</div>
					</div>
					<div class="allSelectPrompt">
						<span>全选</span>
					</div>

				</div>
				<div class="valueBox">合计:&nbsp;&nbsp;<span class="price">¥ 9999 </span> <apan class="info">&nbsp;不含运费</apan>
				</div>

				<a href="#/tab/cart_orderConfirm">

					<div class="accountBox">结算 ( 0 )</div>

				</a>


			</div>




		</div>



	</ion-content>
</ion-view>