<ion-view view-title="确认订单" hide-tabs="true" hide-nav-bar="{{isNavShow}}">

    <ion-content>

        <div class="orderBox" set-window-height>

            <div class="orderDetailBox" >
                <ion-scroll class="scrollV">

                <div class="addressBox">
                    <div class="addressContent">
                        <div class="locationImg">
                            <img  src="resource/images/icon/address_icon.png"/>
                        </div>
                        <div class="addressDetail"></div>


                    </div>

                    <div class="colorLine">
                        <img src="resource/images/icon/address.png">
                    </div>

                </div>
                <div class="buyedGoodsBox">购买商品</div>
                <div class="payInfoBox">发货详情</div>

                </ion-scroll>
             </div>



        <div class="payAcountBox"></div>

        </div>
    </ion-content>
</ion-view>