<ion-view view-title="确认订单" hide-tabs="true" hide-nav-bar="{{isNavShow}}">

    <ion-content>

        <div class="orderBox" set-window-height>

            <!--<ion-scroll style="width: 100%; height: 100%;">-->

            <!--<div class="orderBox">订单-->

                <!--<div class="addressBox"></div>-->
                <!--<div class="buyedGoodsBox"></div>-->
                <!--<div class="payInfoBox"></div>-->

             <!--</div>-->


             <!--</ion-scroll>-->


        <!--<div class="payAcountBox"></div>-->
        </div>
    </ion-content>
</ion-view>