<ion-view view-title="选择收货地址" hide-tabs="true" hide-nav-bar="{{isNavShow}}">
    <ion-content>
        <navigation-bar title="选择收货地址" righttitle="{{righttitleValue}}" on-right-click="manageCart()"></navigation-bar>

             <div class="shippingAddressBox" set-window-height-no-navigation="">
                 <ion-scroll class="shippingAddressScroll">
                 <div class="shippingAddressItem">

                     <div class="userInfo">
                         <div class="name"><span>张三</span></div>
                         <div class="mobile"><span>15091786918</span></div>
                     </div>

                     <div class="shippingAddressContent">
                         <span class="default">[默认地址] </span>陕西省西安市雁塔区丈八沟街道丈八一路10号中铁西安中心38楼
                     </div>


                 </div>
                     <div class="shippingAddressItem">

                         <div class="userInfo">
                             <div class="name"><span>张三</span></div>
                             <div class="mobile"><span>15091786918</span></div>
                         </div>

                         <div class="shippingAddressContent">
                             <span class="default">[默认地址] </span>陕西省西安市雁塔区丈八沟街道丈八一路10号中铁西安中心38楼
                         </div>


                     </div>
                     <div class="shippingAddressItem">

                         <div class="userInfo">
                             <div class="name"><span>张三</span></div>
                             <div class="mobile"><span>15091786918</span></div>
                         </div>

                         <div class="shippingAddressContent">
                             <span class="default">[默认地址] </span>陕西省西安市雁塔区丈八沟街道丈八一路10号中铁西安中心38楼
                         </div>


                     </div>
                     <div class="shippingAddressItem">

                         <div class="userInfo">
                             <div class="name"><span>张三</span></div>
                             <div class="mobile"><span>15091786918</span></div>
                         </div>

                         <div class="shippingAddressContent">
                             <span class="default">[默认地址] </span>陕西省西安市雁塔区丈八沟街道丈八一路10号中铁西安中心38楼
                         </div>


                     </div>
                     <div class="shippingAddressItem">

                         <div class="userInfo">
                             <div class="name"><span>张三</span></div>
                             <div class="mobile"><span>15091786918</span></div>
                         </div>

                         <div class="shippingAddressContent">
                             <span class="default">[默认地址] </span>陕西省西安市雁塔区丈八沟街道丈八一路10号中铁西安中心38楼
                         </div>


                     </div>
                     <div class="shippingAddressItem">

                         <div class="userInfo">
                             <div class="name"><span>张三</span></div>
                             <div class="mobile"><span>15091786918</span></div>
                         </div>

                         <div class="shippingAddressContent">
                             <span class="default">[默认地址] </span>陕西省西安市雁塔区丈八沟街道丈八一路10号中铁西安中心38楼
                         </div>


                     </div>
                     <div class="shippingAddressItem">

                         <div class="userInfo">
                             <div class="name"><span>张三</span></div>
                             <div class="mobile"><span>15091786918</span></div>
                         </div>

                         <div class="shippingAddressContent">
                             <span class="default">[默认地址] </span>陕西省西安市雁塔区丈八沟街道丈八一路10号中铁西安中心38楼
                         </div>


                     </div>
                     <div class="shippingAddressItem">

                         <div class="userInfo">
                             <div class="name"><span>张三</span></div>
                             <div class="mobile"><span>15091786918</span></div>
                         </div>

                         <div class="shippingAddressContent">
                             <span class="default">[默认地址] </span>陕西省西安市雁塔区丈八沟街道丈八一路10号中铁西安中心38楼
                         </div>


                     </div>
                     <div class="shippingAddressItem">

                         <div class="userInfo">
                             <div class="name"><span>张三1111</span></div>
                             <div class="mobile"><span>15091786918</span></div>
                         </div>

                         <div class="shippingAddressContent">
                             <span class="default">[默认地址] </span>陕西省西安市雁塔区丈八沟街道丈八一路10号中铁西安中心38楼
                         </div>


                     </div>


                 </ion-scroll>
             </div>






    </ion-content>
</ion-view>