<ion-view view-title="选择收货地址" hide-tabs="true" hide-nav-bar="{{isNavShow}}">
    <ion-content>
        <navigation-bar is-back="true" title="{{addressTitle}}" righttitle="{{righttitleValue}}" on-right-click="manageAddress()"></navigation-bar>

        <div class="outBox" set-window-height-no-navigation="">

            <div class="noAddress">
                <img src="./resource/images/icon/shopping_bg.png">
                <p>收货地址不存在，去送给谁呢~</p>
                <p><button class="newAddressBtn">去添加新地址吧~</button></p>
            </div>

            <div class="manageContent">

                <ion-scroll class="manageScroll">

                    <div class="editBox" ng-repeat="addressItem in historyAddress">

                        <div class="shippingAddressItem" >

                            <div class="userInfo">
                                <div class="name"><span>{{addressItem.consignee}}</span></div>
                                <div class="mobile"><span>{{addressItem.mobile?addressItem.mobile:addressItem.tel}}</span></div>
                            </div>

                            <div class="shippingAddressContent">
                                <span class="default" ng-if="addressItem.address_id == defaultAddressID">[默认地址] </span>
                                <span class="default" ng-if="addressItem.address_id != defaultAddressID" style="display: none">[默认地址] </span>
                                {{addressItem.province_name+"省" + addressItem.city_name +"市"+ addressItem.district_name + addressItem.address}}
                            </div>

                        </div>

                        <div class="editOperationArea" style="display: none">

                            <div class="selectDefaultBox">

                                   <div class="selectBtn" ng-if="addressItem.address_id == defaultAddressID">
                                       <img class="imgSelect" src="resource/images/icon/shoppingcar_xuanz.png">
                                   </div>
                                    <div class="selectBtn" ng-if="addressItem.address_id != defaultAddressID">
                                        <img class="imgSelect" src="resource/images/icon/shoppingcar_xuanz.png" style="display: none">
                                    </div>


					            <div class="defaultAddress" ng-if="addressItem.address_id == defaultAddressID">
						           <span style="color:#BB55A0">默认地址</span>
                                </div>
                                <div class="defaultAddress"  ng-if="addressItem.address_id != defaultAddressID">
                                    <span style="color:#BCBCBC">设为默认</span>
                                </div>

                            </div>
                            <div class="editBtnBox">
                                <div class="editBtnImg">
                                    <img src="resource/images/icon/compile.png">
                                </div>

                                <div class="promptArea">
                                    <span>编辑</span>
                                </div>

                            </div>
                            <div class="deleteBtnBox">
                                <div class="deleteBtnImg">
                                    <img src="resource/images/icon/delete.png">
                                </div>

                                <div class="promptArea">
                                    <span>删除</span>
                                </div>
                            </div>


                        </div>


                    </div>



                </ion-scroll>
            </div>

        <div class="addAddressBtn">
            <span class="addNewAddress">添加新地址</span>
        </div>
        </div>

    </ion-content>
</ion-view>







