<ion-view view-title="确认订单" hide-tabs="true" hide-nav-bar="{{isNavShow}}">

    <ion-content>

        <div class="orderBox" set-window-height>

            <div class="orderDetailBox" >
                <ion-scroll class="scrollV">

                <div class="addressBox">
                    <div class="addressContent">
                        <div class="locationImg">
                            <img  src="resource/images/icon/address_icon.png"/>
                        </div>
                            <div class="addressDetail">
                                <div class="personalInfo">
                                     <div class="personName"><span>收货人:张三</span></div>
                                     <div class="personPhone"><span>1383838383838&nbsp;&nbsp;</span></div>
                                </div>
                            <div class="addressInfo"> <span>收货地址:陕西省西安市雁塔区锦业路135号中铁西安中心</span></div>

                        </div>
                        <div class="nextBtn">
                            <img class="nextBtnImg" src="resource/images/icon/jiantou_right.png">
                        </div>


                    </div>

                    <div class="colorLine">
                        <img src="resource/images/icon/address.png">
                    </div>

                </div>
                <div class="orderGoodsBox">
                      <div class="orderGoodsItem">
                          <div class="orderItemImg">
                              <img src="resource/images/goods_11.png"/>
                          </div>
                          <div class="orderItemInfo">
                              <div class="orderGoodsName"><span>三八妇乐伊悦美蔓越莓益生菌固体饮料</span></div>
                              <div class="orderGoodsStyle"><span>颜色分类 : 黑色 ,尺寸 : M</span></div>
                              <div class="orderGoodsPrice">
                                  <div class="orderPrice">¥<span>128</span>.00</div>
                                  <div class="orderAcount"><span>x1</span></div>
                              </div>

                          </div>

                      </div>

                    <div class="orderGoodsItem">
                        <div class="orderItemImg">
                            <img src="resource/images/goods_11.png"/>
                        </div>
                        <div class="orderItemInfo">
                            <div class="orderGoodsName"><span>三八妇乐伊悦美蔓越莓益生菌固体饮料</span></div>
                            <div class="orderGoodsStyle"><span>颜色分类 : 黑色 ,尺寸 : M</span></div>
                            <div class="orderGoodsPrice">
                                <div class="orderPrice">¥<span>128</span>.00</div>
                                <div class="orderAcount"><span>x1</span></div>
                            </div>

                        </div>

                    </div>

                    <div class="orderGoodsItem">
                        <div class="orderItemImg">
                            <img src="resource/images/goods_11.png"/>
                        </div>
                        <div class="orderItemInfo">
                            <div class="orderGoodsName"><span>三八妇乐伊悦美蔓越莓益生菌固体饮料</span></div>
                            <div class="orderGoodsStyle"><span>颜色分类 : 黑色 ,尺寸 : M</span></div>
                            <div class="orderGoodsPrice">
                                <div class="orderPrice">¥<span>128</span>.00</div>
                                <div class="orderAcount"><span>x1</span></div>
                            </div>

                        </div>

                    </div>

                </div>
                <div class="payInfoBox">
                    <div class="orderDeliveryModel">
                        <div class="titleArea"><span>配送方式:</span></div>
                        <div class="deliveryModel"><span>韵达快递 ¥ 10.00</span></div>
                        <div class="setDeliveryBtn"><img src="resource/images/icon/jiantou_right.png"></div>

                    </div>
                    <div class="orderSendGoodsAddress">
                        <div class="titleArea"><span>选择发货地址:</span></div>
                        <div class="sendAddressDetail">
                            <div class="shopName"><span>专卖店名:三八妇乐(官方旗舰店)</span></div>
                            <div class="negozianteName"><span>店长:company</span></div>
                            <div class="address"><span>地址:科技路旺座国际</span></div>
                        </div>
                        <div class="setSendAddressBtn"><img src="resource/images/icon/jiantou_right.png"></div>
                    </div>

                    <div class="orderPayModel">
                        <div class="titleArea"><span>支付方式:</span></div>
                        <div class="payModel"><span>余额支付</span></div>
                        <div class="setpayBtn"><img src="resource/images/icon/jiantou_right.png"></div>
                    </div>


                </div>

                </ion-scroll>
             </div>



        <div class="payAcountBox">

            <div class="paySubmit"><b>提交订单</b></div>
            <div class="listInfo">
                <div class="payAcountPrice">合计 : <span>¥ 366</span></div>
                <div class="payGoodsAcount"><span>共2件商品</span></div>
            </div>

        </div>

        </div>
    </ion-content>
</ion-view>