<ion-view view-title="选择收货地址" hide-tabs="true" hide-nav-bar="{{isNavShow}}">
    <ion-content>
        <navigation-bar title="选择收货地址" righttitle="{{righttitleValue}}" on-right-click="manageAddress()"></navigation-bar>

             <div class="shippingAddressBox" set-window-height-no-navigation="">
                 <ion-scroll class="shippingAddressScroll">

                 <div class="shippingAddressItem" ng-repeat="addressItem in historyAddress">

                     <div class="userInfo">
                         <div class="name"><span>{{addressItem.consignee}}</span></div>
                         <div class="mobile"><span>{{addressItem.mobile}}</span></div>
                     </div>

                     <div class="shippingAddressContent">
                         <span class="default" ng-if="addressItem.address_id == defaultAddressID">[默认地址] </span>{{addressItem.province_name+"省" + addressItem.city_name + addressItem.district_name + addressItem.address}}
                     </div>


                 </div>


                 </ion-scroll>
             </div>






    </ion-content>
</ion-view>














