<ion-view view-title="购物车" hide-nav-bar="{{isNavShow}}">
	<ion-content>
		<navigation-bar title="购物车" righttitle="{{righttitleValue}}" on-right-click="editCart()"></navigation-bar>

		<div class="noCartGoodBox">
			<div class="isLoginBox">现在&nbsp;&nbsp;<button>登录</button>&nbsp;&nbsp; , 您的商品将永久保存在"购物车"中</div>
			<div class="noCartMain">
				<img src="./resource/images/icon/shopping_bg.png" />
				<p>购物车空空的，去买点啥呢~</p>
				<p><button>去首页逛逛</button></p>
			</div>
		</div>


		<div class="cartBox" screen-height="-10">

			<div class="buyerListBox">

				<ion-scroll style="width: 100%;height:100%;">

					<div class="buyerItem" on-swipe-left="swipLeft(0)" on-swipe-right="swipRight(0)" ng-repeat="cart_good in cart_goods">

						<div class="deleteBox">删除</div>

						<div class="buyerItemMain">

							<div class="selectBtnBox">
								<div class="selectBtn">
									<img src="resource/images/icon/shoppingcar_xuanz.png">
								</div>
							</div>
							<div class="cartGoodsImage">
								<img src="resource/images/goods_11.png" />
							</div>
							<div class="cartGoodsInfo">
								<div class="cartGoodsTitleBox"><span>{{cart_good.goods_name}}</span></div>
								<div class="cartGoodsInfoBox">
									<div class="cartGoodsMoneyBox">
										<span><strong>¥ </strong><b>{{cart_good.shop_price}}</b></span>
									</div>
									<div class="cartGoodsActionBox">
										<img class="addBtn" src="resource/images/icon/shoppingcar_add.png" />
										<p>{{cart_good.goods_number}}</p>
										<img class="reduceBtn" src="resource/images/icon/shoppingcar_reduce.png" />
									</div>
								</div>
							</div>

						</div>

					</div>
				</ion-scroll>


			</div>

			<div class="hintBox">

			<span>此笔订单金额还差17314元,即可享受高级志愿者折扣10000减5000</span>

			</div>

			<div class="amountBox">

				<div class="selectBox">
					<div class="allSelectArea">
						<div class="allSelectBtn">
							<img src="resource/images/icon/shoppingcar_xuanz.png">
						</div>
					</div>
					<div class="allSelectPrompt">
						<span>全选</span>
					</div>

				</div>
				<div class="valueBox">合计:&nbsp;&nbsp;<span class="price">¥ 9999 </span> <apan class="info">&nbsp;不含运费</apan>
				</div>
				<div class="accountBox">结算 ( 0 )</div>
			</div>




		</div>



	</ion-content>
</ion-view>