<div class="headerBox">
	<div class="logoBox">
		<div class="logoMain">
			<img src="resource/images/icon/logo.png" />
		</div>
	</div>
	<div class="searchBox">
		<div class="searchInputBox">
			<a href="#/tab/homeSearch"><div class="inputSearch" style="width:100%;height:40px;background:#fff;border-radius:5px;">
				<span class="ellipsis" style="width: 100%;height: 40px;line-height: 40px;color: #ccc;margin-left: 40px ">商品名称</span></div></a>
			<i class="icon ion-ios-search"></i>
		</div>
	</div>
</div>