<ion-view view-title="商品" hide-nav-bar="{{isNavShow}}">
	<navigation-bar title="商品"></navigation-bar>
	<ion-content screen-height="60">

		<!-- set-window-height-no-navigation="0" -->

		
			<ion-refresher
					pulling-text="下拉刷新..."
					on-refresh="doRefresh()">
			</ion-refresher>

			<div class="goodsMenuBox">
				<div class="goodsMenuItem selected" id="ALL">全部</div>
				<div class="goodsMenuItem" id="BEST">精品</div>
				<div class="goodsMenuItem" id="NEW">新品</div>
				<div class="goodsMenuItem" id="HOT">热门</div>
			</div>


			<!-- 商品列表-->
			<div class="goodsListBox" style="">
				<div class="goodsItem" ng-repeat="goodsInfo in goodsArray" view-on-finish name="{{goodsInfo.goods_id}}" number="{{goodsInfo.goods_number}}">
					<div ng-if="goodsInfo.goods_number <= 0" class="goodsCover">
						<img src="./resource/images/icon/shouqin.png">
					</div>
					<div class="goodsImage">
						<img src="./resource/images/default/default_image.png" data-original='{{goodsInfo.img_normal}}' />
					</div>
					<div class="goodsInfo">
						<div class="goodsMoney">¥ {{goodsInfo.shop_price}}</div>
						<div class="goodsContent">
							<div class="goodsDesc ellipsis">{{goodsInfo.goods_name}}</div>
							<div class="goodsCart">
								<img src="./resource/images/icon/shoppingcar.png" id="{{goodsInfo.goods_id}}"/>
							</div>
						</div>
				</div>
				<div style="clear:both;"></div>
			</div>
			</div>

			<!--<ion-infinite-scroll on-infinite="loadMore()" distance="2%" immediate-check="false"></ion-infinite-scroll>-->

		


	</ion-content>
</ion-view>