<ion-view view-title="商品" hide-nav-bar="{{isNavShow}}">
	<ion-content>

		<navigation-bar title="商品"></navigation-bar>

		<ion-scroll screen-height="0" style="width:100%;">

			<ion-refresher
					pulling-text="下拉刷新..."
					on-refresh="doRefresh()">
			</ion-refresher>

			<div class="goodsMenuBox">
				<div class="goodsMenuItem selected" id="ALL">全部</div>
				<div class="goodsMenuItem" id="BEST">精品</div>
				<div class="goodsMenuItem" id="NEW">新品</div>
				<div class="goodsMenuItem" id="HOT">热门</div>
			</div>


			<!-- 商品列表-->
			<div class="goodsListBox">
				<div class="goodsItem" ng-repeat="goodsInfo in goodsArray">
					<div class="goodsImage">
						<img src="./resource/images/goods_11.png" />
					</div>
					<div class="goodsInfo">
						<div class="goodsMoney">¥{{goodsInfo.shop_price}}</div>
						<div class="goodsContent">
							<div class="goodsDesc ellipsis">{{goodsInfo.goods_name}}</div>
							<div class="goodsCart">
								<img src="./resource/images/icon/shoppingcar.png" id="{{goodsInfo.goods_id}}"/>
							</div>
						</div>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>

			<!--<ion-infinite-scroll on-infinite="loadMore()" distance="2%" immediate-check="false"></ion-infinite-scroll>-->

		</ion-scroll>


	</ion-content>
</ion-view>